<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/template.html}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Wishlist</title>
    <style type="text/css">
        .input-form-create-user{
            width: 100%;padding: 12px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc;box-sizing: border-box;
        }
    </style>
</head>
<body>
<div layout:fragment="content" class="content">
    <div class="row" style="margin: 5px">
        <table class="table table-striped " >
            <thead>
            <tr>
                <th scope="row" >#</th>
                <th class=" ">Customer ID</th>
                <th  class=" ">Product Name</th>
                <th class=" ">Description</th>
                <th  class=" ">Price</th>
                <th class=" ">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="wishlist,state:${allWishlist}" >
                <th th:text="${state.count}" scope="row">1</th>
                <td th:text="${wishlist.customerid}" class=""></td>
                <td th:text="${wishlist.productname}" class=""></td>
                <td th:text="${wishlist.description}" class=""></td>
                <td th:text="${wishlist.price}" class=""></td>
                <div th:switch="${wishlist.status}">
                    <td th:case="0">Hết Hàng</td>
                    <td th:case="1">Còn Hàng</td>
                    <td th:case="99">Ngừng Kinh Doanh</td>
                    <td th:case="*"></td>
                </div>
<!--                <td class="">-->
<!--                    <ul class="list-inline m-0">-->
<!--                        <li class="list-inline-item">-->
<!--                            <a class="btn btn-success btn-sm rounded-0" th:href="@{/admin/wishlist/edit/{id}(id=${news.id})}"><i class="fa fa-edit"></i></a>-->
<!--                        </li>-->
<!--                        <li class="list-inline-item">-->
<!--                            <button class="btn btn-danger btn-sm rounded-0" th:onclick="'delete_news(' + ${news.id} +')'" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </td>-->
            </tr>
            </tbody>
        </table>
    </div>

    <!--  Phân trang -->
    <div th:if="${totalPages > 1 && totalPages <= 15}">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                <li class="page-item" th:if="${currentPage != 1}">
                    <a class="page-link" th:href="@{'/admin/wishlist?page=' + ${currentPage -1}}" >Previous</a>
                </li>
                <li th:each="i: ${#numbers.sequence(1, totalPages)}" th:classappend="${currentPage ==i ? 'active':''}" class="page-item">
                    <a th:if="${currentPage != i}" th:href="@{'/admin/wishlist?page=' + ${i}}" class="page-link">[[${i}]]</a>
                    <span class="page-link" th:unless="${currentPage != i}">[[${i}]]</span>
                </li>
                <li class="page-item" th:if="${currentPage!=totalPages}">
                    <a th:if="${currentPage < totalPages}" th:href="@{'/admin/wishlist?page=' + ${currentPage + 1}}" class="page-link">Next</a>
                    <span class="page-link" th:unless="${currentPage < totalPages}">Next</span>
                </li>
                <li class="page-item" th:if="${currentPage!=totalPages}">
                    <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/admin/wishlist?page=' + ${totalPages}}">Last</a>
                    <span class="page-link" th:unless="${currentPage < totalPages}">Last</span>
                </li>
            </ul>
        </nav>
    </div>
    <div th:if="${totalPages > 15 }">
        <nav th:if="${currentPage <= 8} " aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                <li class="page-item" th:if="${currentPage != 1}">
                    <a class="page-link" th:href="@{'/admin/wishlist?page=' + ${currentPage -1}}" >Previous</a>
                </li>
                <li th:each="i: ${#numbers.sequence(1, 10)}" th:classappend="${currentPage ==i ? 'active':''}" class="page-item">
                    <a th:if="${currentPage != i}" th:href="@{'/admin/wishlist?page=' + ${i}}" class="page-link">[[${i}]]</a>
                    <span class="page-link" th:unless="${currentPage != i}">[[${i}]]</span>
                </li>
                <li class="page-item disabled" aria-disabled="true">
                    <span class="page-link">...</span>
                </li>
                <li th:classappend="${currentPage == (totalPages - 1) ? 'active':''}" class="page-item" >
                    <a class="page-link" th:href="@{'/admin/wishlist?page=' + ${totalPages - 1}}" >[[${totalPages-1}]]</a>
                </li>
                <li th:classappend="${currentPage == totalPages ? 'active':''}" class="page-item" >
                    <a class="page-link" th:href="@{'/admin/wishlist?page=2'+ ${totalPages } }" >[[${totalPages}]]</a>
                </li>
                <li class="page-item" th:if="${currentPage!=totalPages}">
                    <a th:if="${currentPage < totalPages}" th:href="@{'/admin/wishlist?page=' + ${currentPage + 1}}" class="page-link">Next</a>
                    <span class="page-link" th:unless="${currentPage < totalPages}">Next</span>
                </li>
                <li class="page-item" th:if="${currentPage!=totalPages}">
                    <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/admin/wishlist?page=' + ${totalPages}}">Last</a>
                    <span class="page-link" th:unless="${currentPage < totalPages}">Last</span>
                </li>
            </ul>
        </nav>
        <nav th:unless="${currentPage <= 8}" aria-label="Page navigation example">
            <ul th:if="${ (totalPages - currentPage) <=6 }" class="pagination justify-content-end">
                <li class="page-item" th:if="${currentPage != 1}">
                    <a class="page-link" th:href="@{'/admin/wishlist?page=' + ${currentPage -1}}" >Previous</a>
                </li>
                <li th:classappend="${currentPage ==1 ? 'active':''}" class="page-item" >
                    <a class="page-link" th:href="@{'/admin/wishlist?page=1'}" >1</a>
                </li>
                <li th:classappend="${currentPage ==2 ? 'active':''}" class="page-item" >
                    <a class="page-link" th:href="@{'/admin/wishlist?page=2' }" >2</a>
                </li>
                <li class="page-item disabled" aria-disabled="true">
                    <span class="page-link">...</span>
                </li>
                <li th:each="i: ${#numbers.sequence((totalPages -9), totalPages)}" th:classappend="${currentPage ==i ? 'active':''}" class="page-item">
                    <a th:if="${currentPage != i}" th:href="@{'/admin/wishlist?page=' + ${i}}" class="page-link">[[${i}]]</a>
                    <span class="page-link" th:unless="${currentPage != i}">[[${i}]]</span>
                </li>
                <li class="page-item" th:if="${currentPage!=totalPages}">
                    <a th:if="${currentPage < totalPages}" th:href="@{'/admin/wishlist?page=' + ${currentPage + 1}}" class="page-link">Next</a>
                    <span class="page-link" th:unless="${currentPage < totalPages}">Next</span>
                </li>
                <li class="page-item" th:if="${currentPage!=totalPages}">
                    <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/admin/wishlist?page=' + ${totalPages}}">Last</a>
                    <span class="page-link" th:unless="${currentPage < totalPages}">Last</span>
                </li>
            </ul>

            <ul th:unless="${ (totalPages - currentPage) <=6 }" class="pagination justify-content-end">
                <li class="page-item" th:if="${currentPage != 1}">
                    <a class="page-link" th:href="@{'/admin/wishlist?page=' + ${currentPage -1}}" >Previous</a>
                </li>
                <li th:classappend="${currentPage ==1 ? 'active':''}" class="page-item" >
                    <a class="page-link" th:href="@{'/admin/wishlist?page=1'}" >1</a>
                </li>
                <li th:classappend="${currentPage ==2 ? 'active':''}" class="page-item" >
                    <a class="page-link" th:href="@{'/admin/wishlist?page=2' }" >2</a>
                </li>
                <li class="page-item disabled" aria-disabled="true">
                    <span class="page-link">...</span>
                </li>
                <li th:each="i: ${#numbers.sequence((currentPage -3), (currentPage+3))}" th:classappend="${currentPage ==i ? 'active':''}" class="page-item">
                    <a th:if="${currentPage != i}" th:href="@{'/admin/wishlist?page=' + ${i}}" class="page-link">[[${i}]]</a>
                    <span class="page-link" th:unless="${currentPage != i}">[[${i}]]</span>
                </li>
                <li class="page-item disabled" aria-disabled="true">
                    <span class="page-link">...</span>
                </li>
                <li th:classappend="${currentPage == (totalPages - 1) ? 'active':''}" class="page-item" >
                    <a class="page-link" th:href="@{'/admin/wishlist?page=' + ${totalPages - 1}}" >[[${totalPages-1}]]</a>
                </li>
                <li th:classappend="${currentPage == totalPages ? 'active':''}" class="page-item" >
                    <a class="page-link" th:href="@{'/admin/wishlist?page=2'+ ${totalPages } }" >[[${totalPages}]]</a>
                </li>
                <li class="page-item" th:if="${currentPage!=totalPages}">
                    <a th:if="${currentPage < totalPages}" th:href="@{'/admin/wishlist?page=' + ${currentPage + 1}}" class="page-link">Next</a>
                    <span class="page-link" th:unless="${currentPage < totalPages}">Next</span>
                </li>
                <li class="page-item" th:if="${currentPage!=totalPages}">
                    <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/admin/wishlist?page=' + ${totalPages}}">Last</a>
                    <span class="page-link" th:unless="${currentPage < totalPages}">Last</span>
                </li>
            </ul>
        </nav>
    </div>
</div>

</body>
</html>

