.image-thumbnail{
    width: 200px;
    height: 200px;
    margin-top:60px;
}

.table-admin th, td {
    text-align: center;
    word-break: break-word;
}

.table-admin .w-400 {
    width: 400px;
}

.table-admin .w-200 {
    width: 200px;
}

.table-admin .w-800 {
    width: 800px;
}