<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/template.html}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>New</title>
    <style type="text/css">
        .input-form-create-user{
            width: 100%;padding: 12px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc;box-sizing: border-box;
        }
    </style>
</head>
<body>
<div layout:fragment="content" class="content">
    <div class="row justify-content-center">
        <div class="col-6">
            <form method="post" th:action="@{/admin/customer/edit/{id}(id=${cus.id})}" th:object="${cus}">
                <div class="form-group row">
                    <label for="inputTitle" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputTitle" placeholder="Name" th:field="*{name}">
                        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputImage" class="col-sm-2 col-form-label">Image</label>
                    <div class="col-sm-10">
                        <input type="file" class="custom-file-input" id="inputImage">
                        <label class="custom-file-label" for="inputImage">Choose file</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputContent" class="col-sm-2 col-form-label">Userid</label>
                    <div class="col-sm-10">
                        <textarea type="text" class="form-control" id="inputContent" placeholder="Email" th:field="*{userid}"></textarea>
                        <label th:if="${#fields.hasErrors('userid')}" th:errors="*{userid}" class="text-danger"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Create</button>
                        <a th:href="@{/admin/listcustomer/}" type="button" class="btn btn-primary">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

</body>
</html>
