<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
  <!-- #Left Sidebar ==================== -->
  <div layout:fragment="sidebar" class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
      <a th:href="@{/admin/index}" class="simple-text logo-mini">
        <div class="logo-image-small">
          <img th:src="@{/img/logo.jpg}">
        </div>
      </a>
      <a  class="simple-text logo-normal">
        Nông nghiệp sạch
      </a>
    </div>

    <div class="sidebar-wrapper">
      <ul  class="nav">
        <li th:class="${config.ActiveDashboard} ? 'active' ">
          <a th:href="@{'/admin/index'}">
            <i class="nc-icon nc-chart-pie-36"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <sec:authorize access="hasRole('Seller')" >
            <li th:class="${config.ActiveProduct} ? 'active'">
              <a th:href="@{'/admin/product'}">
                <i class="nc-icon nc-shop"></i>
                <p>Sản phẩm</p>
              </a>
            </li>

            <li th:class="${config.ActiveOrder} ? 'active'">
              <a th:href="@{'/admin/business/order/index'}">
                <i class="nc-icon nc-cart-simple"></i>
                <p>Đơn hàng</p>
              </a>
            </li>
        </sec:authorize>


        <li sec:authorize="hasAuthority('Admin')" th:class="${config.ActiveCategory} ? 'active'">
          <a th:href="@{'/admin/category'}">
            <i class="nc-icon nc-bullet-list-67"></i>
            <p>Danh mục</p>
          </a>
        </li>
<!--        <li sec:authorize="hasAuthority('Admin')" th:class="${config.ActiveStaticstical} ? 'active'">-->
<!--          <a th:href="@{'/admin/statistical'}">-->
<!--            <i class="nc-icon nc-chart-bar-32"></i>-->
<!--            <p>Thống kê</p>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li sec:authorize="hasAuthority('Admin')" th:class="${config.ActiveCustomer} ? 'active'">-->
<!--          <a th:href="@{'/admin/listcustomer'}">-->
<!--            <i class="nc-icon nc-single-02"></i>-->
<!--            <p>Người dùng</p>-->
<!--          </a>-->
<!--        </li>-->

        <li sec:authorize="hasAuthority('Admin')" th:class="${config.ActiveSeller} ? 'active'">
          <a th:href="@{'/admin/seller'}">
            <i class="nc-icon nc-circle-10"></i>
            <p>Nhà cung cấp </p>
          </a>
        </li>

        <li sec:authorize="hasAuthority('Admin')" th:class="${config.ActiveNew} ? 'active'">
          <a th:href="@{'/admin/news'}">
            <i class="nc-icon nc-single-copy-04"></i>
            <p>Tin tức</p>
          </a>
        </li>

<!--        <li th:class="${config.ActiveNotify} ? 'active'">-->
<!--          <a >-->
<!--            <i class="nc-icon nc-bell-55"></i>-->
<!--            <p>Thông báo</p>-->
<!--          </a>-->
<!--        </li>-->
        <li sec:authorize="hasAuthority('Admin')" th:class="${config.ActiveShipping} ? 'active'">
          <a th:href="@{'/admin/listshipping'}">
            <i class="nc-icon nc-delivery-fast"></i>
            <p>Đơn vị vận chuyển</p>
          </a>
        </li>
        <li sec:authorize="hasAuthority('Admin')" th:class="${config.ActiveCustomer} ? 'active'">
          <a th:href="@{'/admin/listcustomer'}">
            <i class="nc-icon nc-single-02"></i>
            <p>Khách hàng</p>
          </a>
        </li>
        <li sec:authorize="hasAuthority('SuperAdmin')" th:class="${config.ActiveUser} ? 'active'">
          <a>
            <i class="nc-icon nc-key-25"></i>
            <p>Quản trị viên </p>
          </a>
        </li>
      </ul>
    </div>
  </div>

</body>

</html>