<!Doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/Logo.png}">
    <link rel="icon" type="image/png" th:href="@{/img/Logo.png}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Gia Phả
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS Files -->
    <link th:href="@{/admin/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/admin/css/paper-dashboard.css}" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link th:href="@{/admin/demo/demo.css}" rel="stylesheet" />
    <link th:href="@{/admin/css/admin.css}" rel="stylesheet" />
    <link th:href="@{/admin/css/dropify.min.css}" rel="stylesheet" />
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css" integrity="sha512-EZSUkJWTjzDlspOoPSpUFR0o0Xy7jdzW//6qhUkoZ9c4StFkVsp9fbbd0O06p9ELS3H486m4wmrCELjza4JEog==" crossorigin="anonymous" referrerpolicy="no-referrer" />-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.16.6/sweetalert2.min.css" integrity="sha512-/D4S05MnQx/q7V0+15CCVZIeJcV+Z+ejL1ZgkAcXE1KZxTE4cYDvu+Fz+cQO9GopKrDzMNNgGK+dbuqza54jgw==" crossorigin="anonymous" />
</head>

<body class="">
<div class="wrapper ">
    <!-- Slide bar-->
    <div layout:replace="admin/layout/sidebar :: sidebar"> </div>
    <div class="main-panel">
        <!-- Navbar -->
<!--        <div  layout:replace="admin/layout/navbar :: navbar">-->
        <div  layout:fragment="navbar">

        </div>
        <!-- End Navbar -->

        <!-- Content-->
        <div layout:fragment="content">
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="description">Your content here</h3>
                    </div>
                </div>
            </div>
        </div>

        <!-- End content -->

        <!-- Footer -->
        <div layout:replace="admin/layout/footer :: footer">

        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.16.6/sweetalert2.all.min.js" integrity="sha512-jQxNe7fqaqehR3t/JfoxC8y2dwkEIL/7a6JWbs6sQdSCI/6Kd0t2okI9nhuKeSUgM5JDTDgdUzLzSPovB2lOBQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

<!--   Core JS Files   --><!--js-->
<script th:src="@{/admin/js/core/jquery.min.js}"></script>
<script th:src="@{/admin/js/core/popper.min.js}"></script>/
<script th:src="@{/admin/js/core/bootstrap.min.js}"></script>
<script th:src="@{/admin/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
<!--  Google Maps Plugin    -->
<!--<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>-->
<!-- Chart JS -->
<script th:src="@{/admin/js/plugins/chartjs.min.js}"></script>
<!--  Notifications Plugin    -->
<script th:src="@{/admin/js/plugins/bootstrap-notify.js}"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script th:src="@{/admin/js/paper-dashboard.min.js?v=2.0.1}"></script>
<script th:src="@{/admin/js/ajax.js}"></script>

<!--Js sử lý cho nhà cung cấp-->
<script th:src="@{/admin/js/sellerAjax.js}"></script>

<script th:src="@{/admin/js/news.js}"></script>

<script th:src="@{/admin/js/shipping.js}"></script>

<script th:src="@{/admin/js/product.js}"></script>

<!--Js sử lý cho phần danh mục-->
<script th:src="@{/admin/js/category.js}"></script>
<script th:src="@{/admin/js/dropify.min.js}"></script>
<script th:src="@{/admin/js/customer.js}"></script>

</body>

</html>
