
<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{public/layout/templateuser.html}">
<head>
    <meta charset="UTF-8" />
    <title>Giỏ hàng</title>

</head>
<body>
<div layout:fragment="slider" class="hero-wrap hero-bread" th:style="'background-image: url(\'/images/bg_1.jpg\');'">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <p class="breadcrumbs"><span class="mr-2"><a th:href="@{'/index'}">Trang chủ</a></span> <span>Giỏ hàng</span></p>
        <h1 class="mb-0 bread">Giỏ hàng của tôi</h1>
      </div>
    </div>
  </div>
</div>

<div layout:fragment="content" >
  <section th:if="${!#lists.isEmpty(listCart)}" class="ftco-section ftco-cart">
    <div class="container">
      <div class="row">
        <div class="col-md-12 ftco-animate">
          <div th:style="${ #lists.size(listCart) > 2 ? 'position: relative;height: 500px;overflow: auto; display:block;' : '' }" class="cart-list" >
            <table class="table">
              <thead class="thead-primary">
                <tr class="text-center">
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>
                  <th>Tên sản phẩm</th>
                  <th>Đơn giá</th>
                  <th>Số lượng</th>
                  <th>Tổng tiền</th>
                </tr>
              </thead>
              <tbody  >
                <tr class="text-center" th:each="cart: ${ listCart }">
                  <td class="product-remove">
                    <a th:onclick="'deleteCart('+ ${cart.id} +')'" >
                      <span class="ion-ios-close"></span>
                    </a>
                  </td>

                  <td class="image-prod">
                    <div class="img" th:style="'background-image:url('+${cart.cartProduct.image} +');'"></div>
                  </td>

                  <td class="product-name">
                    <h3 th:text="${cart.cartProduct.name }"></h3>
                    <p th:if="${cart.cartProduct.discount > 0}" th:text="'Giảm giá: '+ ${cart.cartProduct.discount} + ' %'"></p>
                  </td>

                  <td class="price" >
                    <p th:id="'cartProductPrice'+${cart.id}" th:text="${ cart.cartProduct.price }+' đ'"></p>
                  </td>

                  <td class="quantity">

                    <span th:id="'cartProductQuantity'+${cart.id}"  th:text="${cart.quantity}"> </span>
                  </td>

<!--                  <td class="total">-->
<!--                    <input type="checkbox" th:id="'checkCart'+${cart.id}"  th:onclick="'checkCart('+${cart.id} + ')'" name="vehicle1" th:value="${ cart.id}">-->
<!--                  </td>-->

                  <td class="total" th:with="priceDiscount=${ cart.cartProduct.price} * ( 1 -${cart.cartProduct.discount}/100) " th:text=" ${priceDiscount}*${cart.quantity} +' đ'"></td>
                </tr><!-- END TR-->
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
          <div class="cart-total mb-3">
            <h3>Mã giảm giá</h3>
            <p>Nhập mã giảm giá của bạn (nếu có)</p>
            <form action="#" class="info">
              <div class="form-group">
                <label for="">Mã giảm giá</label>
                <input type="text" class="form-control text-left px-3" placeholder="">
              </div>
            </form>
          </div>
          <p><a href="checkout.html"  class="btn btn-success py-3 px-4" style="color:white; border: none;">Nhập Mã</a></p>
        </div>
        <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
          <div class="cart-total mb-3">
            <h3>Phí ship và thuế</h3>
            <p>Nhập địa chỉ của bạn để tính phí ship</p>
            <form method="" action="" class="info" object="">
              <div class="form-group">
                <label >Thành phố (Tỉnh)</label>
                <input id="city" name="city" type="text" class="form-control text-left px-3" th:value="${city}" placeholder="">
              </div>
              <div class="form-group">
                <label >Quận/huyện</label>
                <input id="district" name="district" type="text" class="form-control text-left px-3" th:value="${district}" placeholder="">
              </div>
              <div class="form-group">
                <label >Địa chỉ cụ thể</label>
                <input id="addressDetail" name="addressDetail" type="text" class="form-control text-left px-3" th:value="${addressDetail}" placeholder="">
              </div>

            </form>
          </div>
          <p><a class="btn btn-success py-3 px-4" style="color:white; border: none;">Tính phí</a></p>
        </div>
        <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
          <div class="cart-total mb-3">
            <h3>Tổng giá giỏ hàng</h3>
            <p class="d-flex">
              <span>Tổng tiền</span>
              <span th:text="${totalPrice} +' đ'" id="totalPriceCart"></span>
            </p>
            <p class="d-flex">
              <span>Phí vận chuyển </span>
              <span id="countDelivery">25000 đ</span>
            </p>
            <p class="d-flex">
              <span>Giảm giá</span>
              <span id="countDiscount"  th:text="${discount}+' đ'">0</span>
            </p>
            <hr>
            <p class="d-flex total-price">
              <span>Tổng cộng</span>
              <span th:text="${totalPrice + 25000 - discount} + ' đ'" th:id="totalPriceOrder"/>
            </p>
          </div>
          <p><a th:onclick="checkoutCart()" class="btn btn-success py-3 px-4" style="color:white; border: none;">Thanh toán</a></p>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="text-center" style="margin-top: 50px;">
      <h3 style="font-size: 25px; color: black">Không có sản phẩm nào trong giỏ hàng </h3>
    </div>
  </div>
</div>

</body>

</html>