<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{public/layout/templateuser.html}">
<head>
    <title>VegetableFoods Change Shpping Address</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body>

<div layout:fragment="slider" class="hero-wrap hero-bread" th:style="'background-image: url(\'/images/bg_1.jpg\');'">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a th:href="@{/index}">Home</a></span></p>
                <h1 class="mb-0 bread">Thanh toán</h1>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="content" >
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 ftco-animate">
                    <form action="#" class="billing-form">
                        <h3 class="mb-4 billing-heading">Sửa địa chỉ người nhận</h3>
                        <div class="row align-items-end">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="city">Thành phố (Tỉnh)</label>
                                    <input type="text" id="city" class="form-control" th:value="${city}">
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="district">Quận/huyện</label>
                                    <input type="text" id="district" class="form-control" th:value="${district}">
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="addressDetail">Địa chỉ cụ thể</label>
                                    <input type="text" id="addressDetail" th:value="${addressDetail}" class="form-control" >
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="addressDetail">Số điện thoai</label>
                                    <input type="text" id="phone" th:value="${phone}" class="form-control" >
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="row justify-content-center">
                                        <div class="col-5">
                                            <a th:onclick="UpdateAddressUser()" class="btn btn-success py-3 px-4" style="color:white; border: none; float: right;">Sửa địa chỉ</a>
                                        </div>
                                        <div class="col-1"></div>
                                        <div class="col-5">
                                            <a th:href="@{/customer/checkout}" class="btn btn-success py-3 px-4" style="color:white; border: none;">Hủy</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form><!-- END -->
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>