<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{public/layout/templateuser.html}">
<head>
    <meta charset="UTF-8" />
    <title>Thanh toán</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<div layout:fragment="slider" class="hero-wrap hero-bread" th:style="'background-image: url(\'/images/bg_1.jpg\');'">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <p class="breadcrumbs"><span class="mr-2"><a th:href="@{/index}">Home</a></span></p>
        <h1 class="mb-0 bread">Sửa địa chỉ</h1>
      </div>
    </div>
  </div>
</div>

<div layout:fragment="content" >
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-7 ftco-animate">
          <form action="#" class="billing-form">
            <h3 class="mb-4 billing-heading">Chi tiết thanh toán</h3>
            <div class="row align-items-end">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="orderFullName">Người nhận</label>
                  <input type="text" id="orderFullName" class="form-control" th:value="${user.fullname}">
                </div>
              </div>
              <div class="w-100"></div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="orderAddress">Địa chỉ</label>
                  <input type="text" id="orderAddress" class="form-control" th:value="${user.address}">
                </div>
              </div>
              <div class="w-100"></div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="orderPhone">Điện thoại người nhận</label>
                  <input type="text" id="orderPhone" class="form-control" th:value="${user.customer.getPhone()}">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="orderEmail">Email</label>
                  <input type="text" class="form-control" id="orderEmail" th:value="${user.email}">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="orderNote">Ghi chú</label>
                  <input type="text" class="form-control" id="orderNote">
                </div>
              </div>
            </div>
            <p><a th:href="@{/customer/checkout/shipping}" class="btn btn-success py-3 px-4" style="color:white; border: none;">Sửa địa chỉ</a></p>
          </form><!-- END -->
        </div>
        <div class="col-xl-5">
          <div class="row mt-5 pt-3">
            <div class="col-md-12 d-flex mb-5">
              <div class="cart-detail cart-total p-3 p-md-4">
                <h3 class="billing-heading mb-4">Tổng giỏ hàng</h3>
                <p class="d-flex">
                  <span>Tổng giá</span>
                  <span id="orderTotalPrice" th:text="${orderDto.totalPrice}"></span>
                </p>
                <p class="d-flex">
                  <span>Phí vận chuyển</span>
                  <span id="orderDelivery" th:text="${orderDto.delivery}"></span>
                </p>
                <p class="d-flex">
                  <span>Giảm giá</span>
                  <span id="orderDiscount" th:text="${orderDto.discount}"></span>
                </p>
                <hr>
                <p class="d-flex total-price">
                  <span>Thanh toán</span>
                  <span style="text-transform: unset" th:with="total=${orderDto.totalPrice + orderDto.delivery + orderDto.discount}" th:text=" ${total} +' VNĐ '+' hoặc ' +${total}/25000 +' USD'"></span>
                </p>
              </div>
            </div>
            <div class="col-md-12">
              <div class="cart-detail p-3 p-md-4">
                <h3 class="billing-heading mb-4">Phương thức thanh toán</h3>
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="radio">
                      <label><input type="radio" name="orderCheckoutType" checked  value='1' class="mr-2"> Thanh toán khi nhận hàng</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="radio">
                      <label><input type="radio" name="orderCheckoutType"  value='2' class="mr-2"> Thanh toán qua Paypal</label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-12">
                    <div class="checkbox">
                      <label><input type="checkbox" checked value="" class="mr-2"> Tôi đã đọc và đồng ý với điều khoản được cung cấp</label>
                    </div>
                  </div>
                </div>
                <p><a onclick="createOrder()" class="btn btn-success py-3 px-4" style="color:white; border: none;">Tạo đơn hàng</a></p>
              </div>
            </div>
          </div>
        </div> <!-- .col-md-8 -->
      </div>
    </div>
  </section> <!-- .section -->

</div>

</body>

</html>