<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{public/layout/templateuser.html}">
<head>
  <title>VegetableFoods-Contact</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body >

<div layout:fragment="slider" class="hero-wrap hero-bread" style="background-image: url('images/bg_1.jpg');">
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <p class="breadcrumbs"><span class="mr-2"><a th:href="@{'/index'}">Home</a></span> <span>Contact us</span></p>
          <h1 class="mb-0 bread">Contact us</h1>
        </div>
      </div>
    </div>
  </div>

<section layout:fragment="content" class="ftco-section contact-section bg-light">
  <div class="container">
    <div class="row d-flex mb-5 contact-info">
      <div class="w-100"></div>
      <div class="col-md-4 d-flex">
        <div class="info bg-white p-4">
          <p><span>Address:</span> 8A Tôn Thất Thuyết, Mỹ Đình 2, Cầu Giấy, Hà Nội</p>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="info bg-white p-4">
          <p><span>Phone:</span> <a href="tel://0123456789">+84 123 456 789</a></p>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="info bg-white p-4">
          <p><span>Email:</span> <a href="mailto:info@yoursite.com">sannongnghiepsach@gmail.com</a></p>
        </div>
      </div>
<!--      <div class="col-md-3 d-flex">-->
<!--        <div class="info bg-white p-4">-->
<!--          <p><span>Website</span> <a href="#">yoursite.com</a></p>-->
<!--        </div>-->
<!--      </div>-->
    </div>
    <div class="row block-9">
      <div class="col-md-6 order-md-last d-flex">
        <form  class="bg-white p-5 contact-form" name="contactSend" onsubmit="validateForm()">
          <div class="form-group">
            <input type="text" id="contactName" class="form-control" placeholder="Your Name" required>
          </div>
          <div class="form-group">
            <input type="email" id="contactEmail" class="form-control" placeholder="Your Email" required>
          </div>
          <div class="form-group">
            <input type="text" id="contactSubject" class="form-control" placeholder="Subject" required >
          </div>
          <div class="form-group">
            <textarea id="contactMessage" cols="30" rows="5" class="form-control" placeholder="Message" required></textarea>
          </div>
          <div class="form-group">
            <input type="button" onclick="sendContact()" value="Send Message" class="btn btn-primary py-3 px-5">
          </div>
        </form>

      </div>

      <div class="col-md-6 d-flex">
<!--        <div id="map" class="bg-white"></div>-->
        <div class="bg-white">
          <iframe th:style="'margin-top: 15px;'" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.0958532176783!2d105.78083059869445!3d21.028850343356382!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b32b842a37%3A0xe91a56573e7f9a11!2zOGEgVMO0biBUaOG6pXQgVGh1eeG6v3QsIE3hu7kgxJDDrG5oLCBD4bqndSBHaeG6pXksIEjDoCBO4buZaSAxMDAwMDAsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1625560600170!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
    </div>
  </div>


</section>


</body>
</html>