<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
      xmlns="http://www.w3.org/1999/html"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{public/layout/templateuser.html}">
<head>
    <title> Nông nghiệp sạch </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body >
<section th:if = "${ not #lists.isEmpty(listBanner) }" layout:fragment="slider" id="home-section" class="hero">
    <div class="home-slider owl-carousel">
        <div th:each="banner: ${ listBanner }" class="slider-item"  th:style="'background-image: url('+${banner.NewsImage}+' );'">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                    <div class="col-md-12 ftco-animate text-center">
<!--                        <h1 class="mb-2" th:text="${ banner.title }"></h1>-->
<!--                        <h2 class="subheading mb-4" th:text="${ banner.content }"></h2>-->
                        <p><a th:href="@{'/news/detail?id=' +${banner.id} }" class="btn btn-primary" style="position: fixed; margin-bottom: 30px; bottom: 0px;">View Details</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div layout:fragment="content">

    <section class="ftco-section">
        <div class="container">
            <div class="row no-gutters ftco-services">
                <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services mb-md-0 mb-4">
                        <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
                            <span class="flaticon-shipped"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Free Shipping</h3>
                            <span>On order over $100</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services mb-md-0 mb-4">
                        <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
                            <span class="flaticon-diet"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Always Fresh</h3>
                            <span>Product well package</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services mb-md-0 mb-4">
                        <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
                            <span class="flaticon-award"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Superior Quality</h3>
                            <span>Quality Products</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services mb-md-0 mb-4">
                        <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
                            <span class="flaticon-customer-service"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Support</h3>
                            <span>24/7 Support</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-category ftco-no-pt">
        <div class="container" th:if="${ countCate > 8 }">
            <div class="carousel slide" id="carouselExampleControls" data-ride="carousel">
                <div class="carousel-inner " >
                    <div th:each=" i: ${ #numbers.sequence(1, slideCate -1 )}"  th:class="${ i == 1 ? 'active carousel-item': 'carousel-item'}" >
                        <div class="row">
                            <div th:each="j :${ #numbers.sequence((i - 1) * 8 , i * 8 - 1) }" class="col-md-3">
                                <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" th:style="'background-image: url(' +${ listCate[j].image} + ');'">
                                    <div class="text px-3 py-1">
                                        <h2 class="mb-0"><a th:href="@{'/shop?cate=' + ${listCate[j].id} }"  th:text="${ listCate[j].name}">Juices</a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item " >
                        <div class="row">
                            <div th:each="k :${ #numbers.sequence((slideCate -1) * 8 , countCate - 1 ) }" class="col-md-3">
                                <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" th:style="'background-image: url(' +${ listCate[k].image} + ');'">
                                    <div class="text px-3 py-1">
                                        <h2 class="mb-0"><a th:href="@{'/shop?cate=' + ${listCate[k].id} }"  th:text="${ listCate[k].name}">Juices</a></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="container" th:unless="${ countCate > 8 }">
            <div class="row">
                <div th:each="cate : ${ listCate }" class="col-md-3">
                    <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" th:style="'background-image: url(' + ${ cate.image } +');'">
                        <div class="text px-3 py-1">
                            <h2 class="mb-0">
                                <a th:href="@{'/shop?cate=' + ${cate.id} }" th:text="${ cate.name}"></a>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-3 pb-3">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="subheading">Sản phẩm mới</span>
                    <h2 class="mb-4">Sản phẩm mới của các nông trại tốt nhất</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div th:each=" product : ${ listProduct }" class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a th:href="@{'/shop/detail?product='+ ${product.id}}" class="img-prod">
                            <img style="max-width: 100%; height: 200px ;display: block" th:src="@{ ${product.image} }"  alt="Colorlib Template">
                            <span th:if="${product.discount > 0}" class="status" th:text="${product.discount}+ ' %'"></span>
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a th:href="@{'/shop/detail?product='+ ${product.id}}" th:text="${product.name}"></a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p th:if="${product.discount > 0}" class="price">
                                        <span class="mr-2 price-dc" th:text="${ product.price}" ></span>
                                        <span class="price-sale" th:with="priceDiscount=${ product.price} * ( 1 -${product.discount}/100) " th:text=" ${priceDiscount} +'đ ' + ' /1 '+${product.unit}"></span>
                                    </p>
                                    <p th:if="${product.discount == 0}" class="price">
                                        <span th:text="${product.price}+ 'đ'+' / 1 '+${product.unit}"></span>
                                    </p>
                                </div>
                            </div>
                            <div sec:authorize="isAuthenticated()" class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a th:href="@{'/shop/detail?product='+ ${product.id}}" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                        <span><i class="ion-ios-menu"></i></span>
                                    </a>
                                    <a th:onclick="'addtoCart('+ ${product.id} + ')'" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                        <span><i class="ion-ios-cart"></i></span>
                                    </a>
                                    <a th:onclick="'updateWishlist('+${product.id}+')'" class="heart d-flex justify-content-center align-items-center ">
                                        <span><i class="ion-ios-heart"></i></span>
                                    </a>
                                </div>
                            </div>
                            <div sec:authorize="!isAuthenticated()" class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a th:href="@{'/shop/detail?product='+ ${product.id}}" class="add-to-cart d-flex justify-content-center align-items-center text-center" style="width: 100%; height: 100%;border-radius: 0;">
                                        <span>Chi tiết sản phẩm </i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>

    <section class="ftco-section img" style="background-image: url(images/bg_3.jpg);">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-md-6 heading-section ftco-animate deal-of-the-day ftco-animate">
                    <span class="subheading">Giá tốt nhất dành cho bạn</span>
                    <h2 class="mb-4">Sản phẩm trợ giá cho mùa covid</h2>
                    <p>Cùng các nhà doanh nghiệp, chúng tôi cam kết sẽ đem tới những sản phẩm khác có mức giá được chiết khấu cao hơn nưa. Cùng chung tay vượt qua covid !</p>
                    <h3><a href="#">Rau Xà Lách</a></h3>
                    <span class="price">30.000đ/kg <a href="#">nay chỉ còn 15.000đ/kg</a></span>
                    <h3><a href="#">Cùng rất nhiều sản phẩm khác !</a></h3>
                    <div id="timer" class="d-flex mt-5">
                        <div class="time" id="days"></div>
                        <div class="time pl-3" id="hours"></div>
                        <div class="time pl-3" id="minutes"></div>
                        <div class="time pl-3" id="seconds"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section testimony-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate text-center">
                    <span class="subheading">Testimony</span>
                    <h2 class="mb-4">Phản hồi của một số khách hàng</h2>

                </div>
            </div>
            <div class="row ftco-animate">
                <div class="col-md-12">
                    <div class="carousel-testimony owl-carousel">
                        <div class="item">
                            <div class="testimony-wrap p-4 pb-5">
                                <div class="user-img mb-5" style="background-image: url(images/person_1.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                                </div>
                                <div class="text text-center">
                                    <p class="mb-5 pl-4 line">Giao hơi lâu hơn trên post, nhưng gói hàng rất kĩ và trái cằm còn rất tươi khi dc giao tới. Sẽ ủng hộ shop nữa</p>
                                    <p class="name">Hoàng Ngọc Tuyển</p>

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap p-4 pb-5">
                                <div class="user-img mb-5" style="background-image: url(images/person_2.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                                </div>
                                <div class="text text-center">
                                    <p class="mb-5 pl-4 line">Hàng đóng gói cẩn thận. Bơ còn xanh nên chưa thử nhưng nhìn có vẻ oki. Cam ko đều nhưng nhìn chất lượng</p>
                                    <p class="name">Nguyễn Văn Nam</p>

                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap p-4 pb-5">
                                <div class="user-img mb-5" style="background-image: url(images/person_3.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                                </div>
                                <div class="text text-center">
                                    <p class="mb-5 pl-4 line">cam tươi mới , đóng gói và giao hàng nhanh , rất hài lòng.</p>
                                    <p class="name">Chu Thế Ngọc</p>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr>

    <section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
        <div class="container py-4">
            <div class="row d-flex justify-content-center py-5">
                <div class="col-md-6">
                    <h2 style="font-size: 22px;" class="mb-0">Đăng ký bản tin của chúng tôi</h2>
                    <span>Nhận thông tin cập nhật qua e-mail về các sản phẩm mới nhất của chúng tôi và các ưu đãi đặc biệts</span>
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <form action="#" class="subscribe-form">
                        <div class="form-group d-flex">
                            <input type="text" class="form-control" placeholder="Enter email address">
                            <input type="submit" value="Subscribe" class="submit px-3">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- loader -->
<!--<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>-->

</body>
</html>