<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/logo.jpg}">
    <link rel="icon" type="image/jpg" th:href="@{/img/logo.jpg}">
    <title>Login</title>
    <link th:href="@{/public/css/login.css}" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="https://i.imgur.com/uNGdWHi.png" class="image"> </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5">
                    <div class="row mb-4 px-3">
                        <h6 class="mb-0 mr-4 mt-2">Đăng nhập với</h6>
                        <div class="facebook text-center mr-3">
                            <div class="fa fa-facebook"></div>
                        </div>
                        <div class="twitter text-center mr-3">
                            <div class="fa fa-twitter"></div>
                        </div>
                        <div class="linkedin text-center mr-3">
                            <div class="fa fa-linkedin"></div>
                        </div>
                    </div>
                    <div class="row px-3 mb-4">
                        <div class="line"></div> <small class="or text-center">Hoặc</small>
                        <div class="line"></div>
                    </div>
                    <form action="/login" method="post">
                        <div class="row px-3">
                            <label class="mb-1">
                                <h6 class="mb-0 text-sm">Tài khoản</h6>
                            </label>
                            <input class="mb-4" type="text" name="username" placeholder="Tài khoản đăng nhập">
                        </div>
                        <div class="row px-3">
                            <label class="mb-1">
                                <h6 class="mb-0 text-sm">Mật khẩu</h6>
                            </label>
                            <input type="password" name="password" placeholder="Mật khẩu">
                        </div>
                        <div class="row px-3 mb-4">
                            <a href="#" class="ml-auto mb-0 text-sm">Quên mật khẩu?</a>
                        </div>
                        <div th:if="${checklogin}" class="row px-3">
                            <span class="text-danger">Tài khoản hoặc mật khẩu không chính xác! Vui lòng thử lại </span>
                        </div>
                        <div class="row mb-3 px-3 " style="margin-top: 10px;"> <button type="submit"  class="btn btn-success text-center">Login</button> </div>
                        <div class="row mb-4 px-3"> <small class="font-weight-bold">Bạn chưa có tài khoản? <a class="text-danger " th:href="@{'/register'}">Đăng ký</a></small> </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<script href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>
