<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{public/layout/templateuser.html}">
<head>
    <meta charset="UTF-8" />
    <title>Chi tiết tin tức</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div layout:fragment="slider" class="hero-wrap hero-bread" th:style="'background-image: url(' + ${news.imageurl}+');'">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a th:href="@{'/index'}">Trang chủ</a></span> </p>
                <h1 class="mb-0 bread">Chi tiết tin tức</h1>
                <span class="mr-2" th:text="${news.title}"></span>
            </div>
        </div>
    </div>
</div>
<sectionv layout:fragment="content" class="ftco-section ftco-degree-bg" >
    <div class="container">
        <div class="row">

            <div class="col-lg-8 ftco-animate" style="margin-top: 50px;">
                <img th:src="${news.imageurl}" style="width: 100%; height: 400px; display: block; margin-left: auto; margin-right: auto;">
                <div th:utext="${news.description}" style="margin-top: 30px;"></div>
            </div> <!-- .col-md-8 -->
            <div class="col-lg-4 sidebar ftco-animate">
                <div class="sidebar-box">
                    <form action="#" class="search-form">
                        <div class="form-group">
                            <span class="icon ion-ios-search"></span>
                            <input type="text" class="form-control" placeholder="Search...">
                        </div>
                    </form>
                </div>
                <div class="sidebar-box ftco-animate">
                    <h3 class="heading">Danh mục</h3>
                    <ul class="categories">
                        <li th:each="cate : ${listCategory}"><a th:href="@{'/shop?cate='+ ${cate.id}}" th:text="${cate.name}"><span th:text="'('+ ${cate.getCountProduct()}+')'"></span></a></li>
                    </ul>
                </div>
                <div class="sidebar-box ftco-animate">
                    <h3 class="heading">Tag Cloud</h3>
                    <div class="tagcloud">
                        <a href="#" class="tag-cloud-link">fruits</a>
                        <a href="#" class="tag-cloud-link">tomatoe</a>
                        <a href="#" class="tag-cloud-link">mango</a>
                        <a href="#" class="tag-cloud-link">apple</a>
                        <a href="#" class="tag-cloud-link">carrots</a>
                        <a href="#" class="tag-cloud-link">orange</a>
                        <a href="#" class="tag-cloud-link">pepper</a>
                        <a href="#" class="tag-cloud-link">eggplant</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sectionv> <!-- .section -->

</body>
</html>