<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{public/layout/templateuser.html}">
<head>
    <meta charset="UTF-8" />
    <title>Tin tức</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div layout:fragment="slider" class="hero-wrap hero-bread" th:style="'background-image: url(\'/img/news/bg_1.jpg\');'">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a th:href="@{'/index'}">Trang chủ</a></span></p>
                <h1 class="mb-0 bread">Tin tức</h1>
            </div>
        </div>
    </div>
</div>
<section layout:fragment="content" class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ftco-animate">
                <div class="row">
                    <div th:each="news : ${listNews}" class="col-md-12 d-flex ftco-animate">
                        <div class="blog-entry align-self-stretch d-md-flex">
                            <a href="blog-single.html" class="block-20" th:style="'background-image: url('+${news.imageurl} +');'">
                            </a>
                            <div class="text d-block pl-md-4">
                                <div class="meta mb-3">
                                    <div><a href="#" th:text="${news.timeStr}"></a></div>
                                    <div><a href="#">Admin</a></div>
<!--                                    <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>-->
                                </div>
                                <h3 class="heading"><a href="#" th:text="${ news.title}"></a></h3>
                                <p th:text="${news.content}"></p>
                                <p><a th:href="@{'/news/detail?id=' +${news.id} }" class="btn btn-primary py-2 px-3">Xem Thêm</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col text-center">
                        <div th:if = "${totalPages > 1 && totalPages <= 10}" class="block-27">
                            <ul >
                                <li th:if="${currentPage != 1}">
                                    <a th:href="@{'/news?page=' + ${currentPage -1}}" >&lt;</a>
                                </li>
                                <li th:each="i: ${#numbers.sequence(1, totalPages)}" th:classappend="${currentPage ==i ? 'active':''}" >
                                    <a th:if="${currentPage != i}" th:href="@{'/news?page=' + ${i}}" >[[${i}]]</a>
                                    <span th:unless="${currentPage != i}">[[${i}]]</span>
                                </li>

                                <li th:if="${currentPage!=totalPages}">
                                    <a th:if="${currentPage < totalPages}" th:href="@{'/news?page='  + ${currentPage + 1}}" >&gt;</a>
                                    <span th:unless="${currentPage < totalPages}"> > </span>
                                </li>
                            </ul>

                        </div>
                        <div th:if = "${totalPages > 10 }" class="block-27">
                            <ul th:if="${currentPage <= 6}">
                                <li th:if="${currentPage != 1}">
                                    <a th:href="@{'/news?page=' + ${currentPage -1}}" >&lt;</a>
                                </li>
                                <li th:each="i: ${#numbers.sequence(1, 8)}" th:classappend="${currentPage ==i ? 'active':''}" >
                                    <a th:if="${currentPage != i}" th:href="@{'/news?page=' + ${i}}" >[[${i}]]</a>
                                    <span th:unless="${currentPage != i}">[[${i}]]</span>
                                </li>
                                <li  >
                                    <span  >...</span>
                                </li>
                                <li th:classappend="${currentPage == (totalPages ) ? 'active':''}"  >
                                    <a   th:href="@{'/news?page='  + ${totalPages }}" >[[${totalPages}]]</a>
                                </li>
                                <li th:if="${currentPage!=totalPages}">
                                    <a th:if="${currentPage < totalPages}" th:href="@{'/news?page='  + ${currentPage + 1}}" >&gt;</a>
                                    <span th:unless="${currentPage < totalPages}"> > </span>
                                </li>
                            </ul>
                            <ul th:unless="${currentPage <= 6}" th:if="${ (totalPages - currentPage) <=6 }">
                                <li th:if="${currentPage != 1}">
                                    <a th:href="@{'/news?page=' + ${currentPage -1}}" >&lt;</a>
                                </li>
                                <li th:classappend="${currentPage ==1 ? 'active':''}"  >
                                    <a  th:href="@{'/news?page=1'}" >1</a>
                                </li>
                                <li th:classappend="${currentPage ==2 ? 'active':''}"  >
                                    <a  th:href="@{'/news?page=2'}" >2</a>
                                </li>
                                <li  >
                                    <span >...</span>
                                </li>
                                <li th:each="i: ${#numbers.sequence((totalPages -7), totalPages)}" th:classappend="${currentPage ==i ? 'active':''}" class="page-item">
                                    <a th:if="${currentPage != i}" th:href="@{'/news?page=' + ${i}}" >[[${i}]]</a>
                                    <span  th:unless="${currentPage != i}">[[${i}]]</span>
                                </li>
                                <li th:if="${currentPage!=totalPages}">
                                    <a th:if="${currentPage < totalPages}" th:href="@{'/news?page='  + ${currentPage + 1}}" >&gt;</a>
                                    <span th:unless="${currentPage < totalPages}"> > </span>
                                </li>
                            </ul>

                            <ul th:unless="${currentPage <= 6}" th:if="${ (totalPages - currentPage) >6 }">
                                <li th:if="${currentPage != 1}">
                                    <a th:href="@{'/news?page=' + ${currentPage -1}}" >&lt;</a>
                                </li>
                                <li th:classappend="${currentPage ==1 ? 'active':''}"  >
                                    <a   th:href="@{'/news?page=1'}" >1</a>
                                </li>
                                <li th:classappend="${currentPage ==2 ? 'active':''}"  >
                                    <a   th:href="@{'/news?page=2' }" >2</a>
                                </li>
                                <li  >
                                    <span  >...</span>
                                </li>
                                <li th:each="i: ${#numbers.sequence((currentPage -3), (currentPage+3))}" th:classappend="${currentPage ==i ? 'active':''}" class="page-item">
                                    <a th:if="${currentPage != i}" th:href="@{'/news?page='+ ${i}}" >[[${i}]]</a>
                                    <span th:unless="${currentPage != i}">[[${i}]]</span>
                                </li>
                                <li  >
                                    <span  >...</span>
                                </li>
                                <li th:classappend="${currentPage == (totalPages - 1) ? 'active':''}"  >
                                    <a   th:href="@{'/news?page=' + ${totalPages - 1}}" >[[${totalPages-1}]]</a>
                                </li>
                                <li th:classappend="${currentPage == totalPages ? 'active':''}"  >
                                    <a   th:href="@{'/news?page='+ ${totalPages } }" >[[${totalPages}]]</a>
                                </li>
                                <li th:if="${currentPage!=totalPages}">
                                    <a th:if="${currentPage < totalPages}" th:href="@{'/news?page='  + ${currentPage + 1}}" >&gt;</a>
                                    <span th:unless="${currentPage < totalPages}"> > </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> <!-- .col-md-8 -->
            <div class="col-lg-4 sidebar ftco-animate">
                <div class="sidebar-box">
                    <form action="#" class="search-form">
                        <div class="form-group">
                            <span class="icon ion-ios-search"></span>
                            <input type="text" class="form-control" placeholder="Search...">
                        </div>
                    </form>
                </div>
                <div class="sidebar-box ftco-animate">
                    <h3 class="heading">Danh mục</h3>
                    <ul class="categories">
                        <li th:each="cate : ${listCategory}"><a th:href="@{'/shop?cate='+ ${cate.id}}" th:text="${cate.name}"><span th:text="'('+ ${cate.getCountProduct()}+')'"></span></a></li>
                    </ul>
                </div>

                <div class="sidebar-box ftco-animate">
                    <h3 class="heading">Tag Cloud</h3>
                    <div class="tagcloud">
                        <a href="#" class="tag-cloud-link">fruits</a>
                        <a href="#" class="tag-cloud-link">tomatoe</a>
                        <a href="#" class="tag-cloud-link">mango</a>
                        <a href="#" class="tag-cloud-link">apple</a>
                        <a href="#" class="tag-cloud-link">carrots</a>
                        <a href="#" class="tag-cloud-link">orange</a>
                        <a href="#" class="tag-cloud-link">pepper</a>
                        <a href="#" class="tag-cloud-link">eggplant</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
</body>

</html>