<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{public/layout/templateuser.html}">
<head>
  <meta charset="UTF-8">
  <title>Đơn hàng</title>
</head>
<body>
<div  layout:fragment="content" class="container" >
    <div class="row" >
      <div class="col-12">
          <select class="float-right" id ="statusOrder" onChange="window.location.href=this.value" style="margin-right: 25px">
              <option th:selected="${status == 100 }" value="/customer/order" >Tất cả</option>
              <option th:selected="${status == 0 }" value="/customer/order?status=0" >Chờ xác nhận</option>
              <option th:selected="${status == 1 }" value="/customer/order?status=1" >Đang xác nhận</option>
              <option th:selected="${status == 2 }" value="/customer/order?status=2" >Đang thực hiện</option>
              <option th:selected="${status == 3 }" value="/customer/order?status=3" >Đang giao hàng</option>
              <option th:selected="${status == 4 }" value="/customer/order?status=4" >Hoàn thành</option>
              <option th:selected="${status == -1 }" value="/customer/order?status=-1" >Đã hủy</option>
              <option th:selected="${status == -2 }" value="/customer/order?status=-2" >Đã bị từ chối</option>
          </select>
      </div>
      <div class="col-12 "  th:if="${!#lists.isEmpty(listOrder)}"  style="margin-top: 15px">
          <table class="table table-striped " >
              <thead>
                  <tr>
                      <th scope="col" >#</th>
                      <th scope="col">Mã đơn </th>
                      <th scope="col">Tổng giá</th>
                      <th scope="col">Giảm giá</th>
                      <th scope="col">Phí ship</th>
                      <th scope="col">Tổng tiền</th>
                      <th scope="col">Trạng thái thanh toán</th>
                      <th scope="col">Trạng thái đơn hàng</th>
                      <th scope="col">Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr th:each="order,state : ${listOrder}" >
                      <th th:text="${ state.count}" scope="row" style="padding: 15px 10px !important;">1</th>
                      <td th:text="${ order.code }" style="padding: 15px 10px !important;" ></td>
                      <td th:text="${ order.totalprice }" style="padding: 15px 10px !important;"></td>
                      <td th:text="${ order.discount }" style="padding: 15px 10px !important;"></td>
                      <td th:text="${ order.ship_fee }" style="padding: 15px 10px !important;"></td>
                      <td th:text="${ order.totalPricePayment }" style="padding: 15px 10px !important;"></td>
                      <td style="padding: 15px 10px !important;">
                          <span th:if="${order.paypal == false}">Thanh toán khi nhận hàng</span>
                          <span th:if="${order.paypal == true && order.status_payment == true}">Đã thanh toán</span>
                          <span th:if="${order.paypal == true && order.status_payment == false}">Thanh toán PayPal không thành công</span>
                      </td>
                      <td style="padding: 15px 10px !important;">
                          <span th:if="${order.status == 0}" style="color: #c0b567">Chờ xác nhận</span>
                          <span th:if="${order.status == 1}" style="color:#a0c0b4;">Đang xác nhân</span>
                          <span th:if="${order.status == 2}" style="color:#21cb5c;">Đã xác nhân</span>
                          <span th:if="${order.status == 3}" style="color:#2b8d69;">Đang giao hàng</span>
                          <span th:if="${order.status == 4}" style="color:#0d58f1;">Hoàn thành</span>
                          <span th:if="${order.status == -1}" style="color:#e52d27;">Đã hủy</span>
                          <span th:if="${order.status == -2}" style="color:#e95e37;">Đã bị từ chối</span>
                      </td>
                      <td style="padding: 15px 10px !important;">
                          <li class="list-inline-item" >
                              <a class="btn-sm btn-success" th:href="@{'/customer/order/detail?code='+ ${order.code}}" >
                                  <span>Chi tiết</span>
                              </a>
                          </li>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
        <div class="col-12" th:if="${#lists.isEmpty(listOrder)}" style="margin-top: 25px">
            <div class="text-center">
                <h4>Chưa phát sinh giao dịch nào</h4>
            </div>
        </div>
    </div>

    <!--      Phân trang -->
    <div class="row mt-5">
        <div class="col text-center">
            <div th:if = "${totalPages > 1 && totalPages <= 10}" class="block-27">
                <ul >
                    <li th:if="${currentPage != 1}">
                        <a th:href="@{'/customer/order'+${status != 100 ? '?status='+ status +'&&' :'?'} +'page=' + ${currentPage -1}}" >&lt;</a>
                    </li>
                    <li th:each="i: ${#numbers.sequence(1, totalPages)}" th:classappend="${currentPage ==i ? 'active':''}" >
                        <a th:if="${currentPage != i}" th:href="@{'/customer/order' + ${status != 100 ? '?status='+ status +'&&' :'?'} +'page=' + ${i}}" >[[${i}]]</a>
                        <span th:unless="${currentPage != i}">[[${i}]]</span>
                    </li>

                    <li th:if="${currentPage!=totalPages}">
                        <a th:if="${currentPage < totalPages}" th:href="@{'/customer/order' + ${status != 100 ? '?status='+ status +'&&' :'?'} +'page=' + ${currentPage + 1}}" >&gt;</a>
                        <span th:unless="${currentPage < totalPages}"> > </span>
                    </li>
                </ul>

            </div>
            <div th:if = "${totalPages > 10 }" class="block-27">
                <ul th:if="${currentPage <= 6}">
                    <li th:if="${currentPage != 1}">
                        <a th:href="@{'/customer/order'+ ${status != 100 ? '?status='+ status +'&&' :'?'}  +'page=' + ${currentPage -1}}" >&lt;</a>
                    </li>
                    <li th:each="i: ${#numbers.sequence(1, 8)}" th:classappend="${currentPage ==i ? 'active':''}" >
                        <a th:if="${currentPage != i}" th:href="@{'/customer/order' + ${status != 100 ? '?status='+ status +'&&' :'?'}  +'page=' + ${i}}" >[[${i}]]</a>
                        <span th:unless="${currentPage != i}">[[${i}]]</span>
                    </li>
                    <li  >
                        <span  >...</span>
                    </li>
                    <li th:classappend="${currentPage == (totalPages ) ? 'active':''}"  >
                        <a   th:href="@{'/customer/order' + ${status != 100 ? '?status='+ status +'&&' :'?'}  +'page=' + ${totalPages }}" >[[${totalPages}]]</a>
                    </li>
                    <li th:if="${currentPage!=totalPages}">
                        <a th:if="${currentPage < totalPages}" th:href="@{'/customer/order' + ${status != 100 ? '?status='+ status +'&&' :'?'}  +'page=' + ${currentPage + 1}}" >&gt;</a>
                        <span th:unless="${currentPage < totalPages}"> > </span>
                    </li>
                </ul>
                <ul th:unless="${currentPage <= 6}" th:if="${ (totalPages - currentPage) <=6 }">
                    <li th:if="${currentPage != 1}">
                        <a th:href="@{'/customer/order' + ${status != 100 ? '?status='+ status +'&&' :'?'}  +'page=' + ${currentPage -1}}" >&lt;</a>
                    </li>
                    <li th:classappend="${currentPage ==1 ? 'active':''}"  >
                        <a  th:href="@{'/customer/order' + ${status != 100 ? '?status='+ status +'&&' :'?'}  +'page=1'}" >1</a>
                    </li>
                    <li th:classappend="${currentPage ==2 ? 'active':''}"  >
                        <a  th:href="@{'/customer/order'${status != 100 ? '?status='+ status +'&&' :'?'}  +'page=2'}" >2</a>
                    </li>
                    <li  >
                        <span >...</span>
                    </li>
                    <li th:each="i: ${#numbers.sequence((totalPages -7), totalPages)}" th:classappend="${currentPage ==i ? 'active':''}" class="page-item">
                        <a th:if="${currentPage != i}" th:href="@{'/customer/order'+ ${status != 100 ? '?status='+ status +'&&' :'?'}  +'page=' + ${i}}" >[[${i}]]</a>
                        <span  th:unless="${currentPage != i}">[[${i}]]</span>
                    </li>
                    <li th:if="${currentPage!=totalPages}">
                        <a th:if="${currentPage < totalPages}" th:href="@{'/customer/order' + ${status != 100 ? '?status='+ status +'&&' :'?'}  +'page=' + ${currentPage + 1}}" >&gt;</a>
                        <span th:unless="${currentPage < totalPages}"> > </span>
                    </li>
                </ul>

                <ul th:unless="${currentPage <= 6}" th:if="${ (totalPages - currentPage) >6 }">
                    <li th:if="${currentPage != 1}">
                        <a th:href="@{'/customer/order'+ ${status != 100 ? '?status='+ status +'&&' :'?'}  +'page=' + ${currentPage -1}}" >&lt;</a>
                    </li>
                    <li th:classappend="${currentPage ==1 ? 'active':''}"  >
                        <a   th:href="@{'/customer/order' + ${status != 100 ? '?status='+ status +'&&' :'?'}  +'page=1'}" >1</a>
                    </li>
                    <li th:classappend="${currentPage ==2 ? 'active':''}"  >
                        <a   th:href="@{'/customer/order'+ ${status != 100 ? '?status='+ status +'&&' :'?'}  +'page=2' }" >2</a>
                    </li>
                    <li  >
                        <span  >...</span>
                    </li>
                    <li th:each="i: ${#numbers.sequence((currentPage -3), (currentPage+3))}" th:classappend="${currentPage ==i ? 'active':''}" class="page-item">
                        <a th:if="${currentPage != i}" th:href="@{'/customer/order'+ ${status != 100 ? '?status='+ status +'&&' :'?'}  +'page=' + ${i}}" >[[${i}]]</a>
                        <span th:unless="${currentPage != i}">[[${i}]]</span>
                    </li>
                    <li  >
                        <span  >...</span>
                    </li>
                    <li th:classappend="${currentPage == (totalPages - 1) ? 'active':''}"  >
                        <a   th:href="@{'/customer/customer/order'+ ${status != 100 ? '?status='+ status +'&&' :'?'} +'page='  + ${totalPages - 1}}" >[[${totalPages-1}]]</a>
                    </li>
                    <li th:classappend="${currentPage == totalPages ? 'active':''}"  >
                        <a   th:href="@{'/customer/order'+ ${status != 100 ? '?status='+ status +'&&' :'?' } +'page=' + ${totalPages } }" >[[${totalPages}]]</a>
                    </li>
                    <li th:if="${currentPage!=totalPages}">
                        <a th:if="${currentPage < totalPages}" th:href="@{'/customer/order'+ ${status != 100 ? '?status='+ status +'&&' :'?'}  +'page=' + ${currentPage + 1}}" >&gt;</a>
                        <span th:unless="${currentPage < totalPages}"> > </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#statusOrder').on('change', function(e) {
                var city = $(this).val();
                alert(city);
            });
        });
    </script>
</div>
</body>
</html>