<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{public/layout/templateuser.html}">
<head>
  <meta charset="UTF-8">
  <title>Chi tiết đơn hàng</title>

</head>
<body>
<div  layout:fragment="content" class="container" >
  <div class="row">
    <h4 style="color: black"  th:text="'Chi tiết đơn hàng ' +${ order.code }"></h4>

<!--    <button th:onclick="'deleteOrder(' + ${ order.id }+ ')'">Xóa đơn hàng</button>-->
<!--    <br>-->
<!--    <button th:if="${ order.status == 0 }" th:onclick="'updateOrder(' + ${ order.id }+ ')'">Cập nhập</button>-->
  </div>
  <div class="row col-12 " style="margin-top: 15px">
    <table class="table table-striped " >
      <thead>
      <tr>
        <th scope="col" >#</th>
        <th scope="col">Sản phẩm</th>
        <th scope="col">Thông tin</th>
        <th scope="col">Đơn giá</th>
        <th scope="col">Số lượng</th>
        <th scope="col">Giảm giá</th>
        <th scope="col">Trạng thái </th>
        <th scope="col">Xác nhận đơn hàng </th>
      </tr>
      </thead>
      <tbody>
        <tr th:each="orderDetail,state : ${listOrderDetail}" >
          <th th:text="${ state.count}" scope="row"  style="padding: 55px 10px !important;">1</th>
          <td style="padding: 15px 10px !important;" >
            <img style="width: auto; height: 150px; display: block;" th:src="${ orderDetail.product_order.image }">
          </td>
          <td style="padding: 15px 10px !important;">
            <span th:text="${ orderDetail.product_order.name }"></span>
          </td>
          <td th:text="${ orderDetail.price }+ ' đ /1 '+ ${ orderDetail.product_order.unit }" style="padding: 15px 10px !important;"></td>
          <td th:text="${ orderDetail.quantity }" style="padding: 15px 10px !important;"></td>
          <td th:text="${ orderDetail.discount }" style="padding: 15px 10px !important;"></td>
          <td style="padding: 15px 10px !important;">
            <span th:if="${orderDetail.status == 0}" style="color: #1DA1F2">Chờ xác nhận</span>
            <span th:if="${orderDetail.status == 1}" style="color:#04AA6D;">Đã xác nhận</span>
            <span th:if="${orderDetail.status == 2}" style="color:#0d58f1;">Đã hoàn thành</span>
            <span th:if="${orderDetail.status == -1}" style="color:#e52d27;">Đã bị hủy</span>
            <span th:if="${orderDetail.status == -2}" style="color:#e52d27;">Đã bị từ chối</span>
          </td>
          <td>
            <button th:if="${ orderDetail.status == 1}" class="btn-sm btn-success" th:onclick="'confirmShipping(' + ${orderDetail.id} + ')'" >Đã nhận hàng</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <button class="btn-sm btn-danger" th:if="${ order.status == 0}" th:onclick="'deleteOrder(' + ${order.id} + ')'" >Hủy đơn hàng</button>
    </div>
    <div class="row justify-content-center" style="width: 100%; margin-top: 30px;">
      <a th:href="@{/customer/order/index}" type="button" class="btn btn-secondary" style="margin: 0 auto">Quay lại</a><div>
    </div>
</div>
</body>
</html>