<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{public/layout/templateuser.html}">
<head>
    <meta charset="UTF-8" />
    <title>Chi tiết sản phẩm</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/public/css/product_detail.css}" rel="stylesheet">
</head>
<body>
<div layout:fragment="slider" class="hero-wrap hero-bread" th:style="'background-image: url(\'/images/bg_1.jpg\');'">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a th:href="@{'/index'}">Home</a></span> <span class="mr-2"><a th:href="@{'/shop'}">Shop</a></span> <span>Product Detail</span></p>
                <h1 class="mb-0 bread">Chi tiết sản phẩm</h1>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="content">
    <section class="ftco-section">
        <div class="container">
            <div class="row" th:if="${product != null}">
                <div class="col-lg-7 mb-5 ftco-animate">
<!--                    <a th:href="${product.ProductImage}" class="image-popup"><img th:src=" " class="img-fluid" th:alt="${product.name}"></a>-->
                    <div class="wrapper_thumbnail">
                        <div class="image-gallery">
                            <main class="primary " th:style="'background-image: url(' + ${product.ProductImage} + ');'"></main>

                            <aside class="thumbnails">
                                <a th:if = "${ not #lists.isEmpty(product.productImage1) }"  class="selected thumbnail" th:data-big="${product.productImage1}">
                                    <div class="thumbnail-image" th:style="'background-image: url('+ ${product.productImage1}+')'"></div>
                                </a>
                                <a  th:if = "${ not #lists.isEmpty(product.productImage2) }" class="thumbnail" th:data-big="${product.productImage2}">
                                    <div class="thumbnail-image" th:style="'background-image: url('+ ${product.productImage2}+')'"></div>
                                </a>
                                <a th:if = "${ not #lists.isEmpty(product.productImage3) }" class="thumbnail" th:data-big="${product.productImage3}">
                                    <div class="thumbnail-image" th:style="'background-image: url('+ ${product.productImage3}+')'"></div>
                                </a>
                                <a th:if = "${ not #lists.isEmpty(product.productImage4) }" class="thumbnail" th:data-big="${product.productImage4}">
                                    <div class="thumbnail-image" th:style="'background-image: url('+ ${product.productImage4}+')'"></div>
                                </a>
                            </aside>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 product-details pl-md-5 ftco-animate">
                    <h3 th:text="${product.name}"></h3>
                    <div class="rating d-flex">
                        <p class="text-left mr-4">
                            <a href="#" class="mr-2">5.0</a>
                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                        </p>
                        <p class="text-left mr-4">
                            <a href="#" class="mr-2" style="color: #000;">100 <span style="color: #bbb;">Rating</span></a>
                        </p>
                        <p class="text-left">
                            <a href="#" class="mr-2" style="color: #000;">500 <span style="color: #bbb;">Sold</span></a>
                        </p>
                    </div>
                    <p style="font-size: 20px;color: black;" th:if="${product.discount > 0}" th:text="'Giảm giá: ' +${product.discount}+'%' "> </p>
                    <p th:if="${product.discount > 0}" class="price">
                        <span class="mr-2 "  style="text-decoration: line-through;color: #b3b3b3;font-size: 20px" th:text="${ product.price}+ 'đ'" ></span>
                        <span class="price-sale" th:with="priceDiscount=${ product.price} * ( 1 -${product.discount}/100) " th:text=" ${priceDiscount} +'đ ' + ' /1 '+${product.unit}"></span>
                    </p>
                    <p th:if="${product.discount ==0}" class="price">
                        <span th:text="${ product.price}+ 'đ'+ ' /1 '+${product.unit}" ></span>
                    </p>
                    <p>Nhà cung cấp: <span th:text="${ userName }"></span></p>
                    <p th:utext="${product.description}"></p>
                    <div class="row mt-4" sec:authorize="isAuthenticated()">

                        <div class="input-group col-md-6 d-flex mb-3">
                            <span class="input-group-btn mr-2">
                                <input class="quantity-left-minus btn" onclick="var result = document.getElementById('quantity'); var qty = result.value; if( !isNaN(qty) &amp; qty > 1 ) result.value--;return false;" type='button' value='-' />
                            </span>
                            <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">
                            <span class="input-group-btn ml-2">
                                 <input class="quantity-right-plus btn" onclick="var result = document.getElementById('quantity'); var qty = result.value; if( !isNaN(qty)) result.value++;return false;" type='button' value='+' />
                            </span>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-12">
                            <p style="color: #000;" th:text="${ product.quantity } + ' '+ ${product.unit} +' sản phẩm có sẵn'">/p>
                        </div>
                    </div>
                    <p sec:authorize="isAuthenticated()">
                        <a th:onclick="'addtoCart('+ ${product.id} + ')'" class="btn btn-success py-3 px-4" style="color:white; border: none;">Thêm vào giỏ hàng</a>
                    </p>
                    <p style="color:#000;" sec:authorize="!isAuthenticated()">Hãy đăng nhập để mua sản phẩm</p>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <hr class="hr-product">
            <h3 style="text-align: center;">Thông tin sản phẩm</h3>
            <img th:src="${product.ProductDetailImage}" class="detail-image">
            <div th:utext="${product.detail}"/>
            <hr class="hr-product" style="margin-top: 30px;">
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-3 pb-3">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="subheading">Sản phẩm</span>
                    <h2 class="mb-4">Sản phẩm cùng danh mục</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" th:if="${ listProductBySeller != null }">
                <div class="col-md-6 col-lg-3 ftco-animate" th:each="probySeller : ${listProductBySeller}">
                    <div class="product">
                        <a th:href="@{'/shop/detail?product='+ ${probySeller.id}}" class="img-prod">
                            <img style="max-width: 100%; height: 200px ;display: block" th:src=" ${probySeller.ProductImage} " th:alt="${product.name}">
                            <span th:if="${probySeller.discount > 0}" class="status" th:text="${probySeller.discount}+ ' %'"></span>
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a th:href="@{'/shop/detail?product='+ ${probySeller.id}}" th:text="${probySeller.name}"></a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p th:if="${probySeller.discount > 0}" class="price">
                                        <span class="mr-2 price-dc" th:text="${ probySeller.price}+ ' VNĐ'" ></span>
                                        <span class="price-sale" th:with="priceDiscount=${ 1 - (probySeller.discount)/100 }" th:text="${probySeller.price * priceDiscount} +' VNĐ'"></span>
                                    </p>
                                    <p th:if="${probySeller.discount == 0}" class="price">
                                        <span th:text="${probySeller.price}+ ' VNĐ'"></span>
                                    </p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a th:href="@{'/shop/detail?product='+ ${probySeller.id}}" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                        <span><i class="ion-ios-menu"></i></span>
                                    </a>
                                    <!--                  sec:authorize="isAuthenticated()"-->
                                    <a  th:href="@{'/customer/cart'}" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                        <span><i class="ion-ios-cart"></i></span>
                                    </a>
                                    <a sec:authorize="isAuthenticated()" th:href="${'/customer/wishlist'}" th:onclick="'updateWishlist('+${probySeller.id}+')'" class="heart d-flex justify-content-center align-items-center ">
                                        <span><i class="ion-ios-heart"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

</body>
<script>
$('input.input-qty').each(function() {
    var $this = $(this),
        qty = $this.parent().find('.is-form'),
        min = Number($this.attr('min')),
        max = Number($this.attr('max'))
    if (min == 0) {
        var d = 0
    } else d = min
    $(qty).on('click', function() {
        if ($(this).hasClass('minus')) {
            if (d > min) d += -1
        } else if ($(this).hasClass('plus')) {
            var x = Number($this.val()) + 1
            if (x <= max) d += 1
        }
        $this.attr('value', d).val(d)
    })
})
</script>
</html>