  <!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{public/layout/templateuser.html}">
<head>
    <meta charset="UTF-8" />
    <title>Shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body>

<div layout:fragment="slider" class="hero-wrap hero-bread" th:style="'background-image: url(\'/images/bg_1.jpg\');'">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <p class="breadcrumbs"><span class="mr-2"><a th:href="@{'/index'}">Trang chủ</a></span> <span>Shop</span></p>
        <h1 class="mb-0 bread">Shop</h1>
      </div>
    </div>
  </div>
</div>

<div layout:fragment="content" >
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 mb-5 text-center">
          <input id="searchPr" type="text" th:value="${not searchPr.isEmpty() ? searchPr : ''}" placeholder="Nhập tên sản phẩm..."
                 style="width: 300px; height: 38px; border: 1px solid rgb(130,174,70); border-radius: 10px;" />
          &emsp;&emsp;
          <button type="button" onclick="searchProduct()" class="btn btn-primary">Tìm Kiếm</button>
        </div>
        <div class="col-md-10 mb-5 text-center">
          <ul class="product-category">
            <li ><a th:href="@{'/shop'}" th:class="${searchCate == 0} ? 'active' " >All</a></li>
            <li th:each="category:${listCategory}">
              <a th:href="@{'/shop?cate='+ ${category.id}}" th:class="${searchCate == category.id} ? 'active' " th:text="${category.name}"></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row" th:if="${ !#lists.isEmpty(listProduct)}">
        <div th:each="product:${listProduct}" class="col-md-6 col-lg-3 ftco-animate">
          <div class="product">
            <a th:href="@{'/shop/detail?product='+ ${product.id}}" class="img-prod">
              <img style="max-width: 100%; height: 200px ;display: block" th:src="${product.ProductImage} " th:alt="${product.name}">
              <span th:if="${product.discount > 0}" class="status" th:text="${product.discount}+ ' %'"></span>
              <div class="overlay"></div>
            </a>
            <div class="text py-3 pb-4 px-3 text-center">
              <h3><a th:href="@{'/shop/detail?product='+ ${product.id}}" th:text="${product.name}"></a></h3>
              <div class="d-flex">
                <div class="pricing">
                  <p th:if="${product.discount > 0}" class="price">
                    <span class="mr-2 price-dc" th:text="${ product.price}" ></span>
                    <span class="price-sale" th:with="priceDiscount=${ product.price} * ( 1 -${product.discount}/100) " th:text=" ${priceDiscount} +'đ ' + ' /1 '+${product.unit}"></span>
                  </p>
                  <p th:if="${product.discount == 0}" class="price">
                    <span th:text="${product.price}+ 'đ'+' / 1 '+${product.unit}"></span>
                  </p>
                </div>
              </div>
              <div sec:authorize="isAuthenticated()" class="bottom-area d-flex px-3">
                <div class="m-auto d-flex">
                  <a th:href="@{'/shop/detail?product='+ ${product.id}}" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                    <span><i class="ion-ios-menu"></i></span>
                  </a>
                  <a th:onclick="'addtoCart('+ ${product.id} + ')'"  class="buy-now d-flex justify-content-center align-items-center mx-1">
                    <span><i class="ion-ios-cart"></i></span>
                  </a>
                  <a  th:onclick="'updateWishlist('+${product.id}+')'" class="heart d-flex justify-content-center align-items-center ">
                    <span><i class="ion-ios-heart"></i></span>
                  </a>
                </div>
              </div>
              <div sec:authorize="!isAuthenticated()" class="bottom-area d-flex px-3">
                <div class="m-auto d-flex">
                  <a th:href="@{'/shop/detail?product='+ ${product.id}}" class="add-to-cart d-flex justify-content-center align-items-center text-center" style="width: 100%; height: 100%;border-radius: 0;">
                    <span>Chi tiết sản phẩm </i></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center" th:unless="${ !#lists.isEmpty(listProduct)}">
        <div class="col-md-10 mb-5 text-center">
            <span>Không tồn tại sản phẩm nào trong danh mục</span>
        </div>
      </div>

<!--      Phân trang -->
      <div class="row mt-5">
        <div class="col text-center">
          <div th:if = "${totalPages > 1 && totalPages <= 10}" class="block-27">
            <ul >
              <li th:if="${currentPage != 1}">
                <a th:href="@{'/shop?cate=' + ${ searchCate } + '&page=' + ${currentPage -1}}" >&lt;</a>
              </li>
              <li th:each="i: ${#numbers.sequence(1, totalPages)}" th:classappend="${currentPage ==i ? 'active':''}" >
                <a th:if="${currentPage != i}" th:href="@{'/shop?cate=' + ${ searchCate } + '&page=' + ${i}}" >[[${i}]]</a>
                <span th:unless="${currentPage != i}">[[${i}]]</span>
              </li>

              <li th:if="${currentPage!=totalPages}">
                <a th:if="${currentPage < totalPages}" th:href="@{'/shop?cate=' + ${ searchCate } + '&page='  + ${currentPage + 1}}" >&gt;</a>
                <span th:unless="${currentPage < totalPages}"> > </span>
              </li>
            </ul>

          </div>
          <div th:if = "${totalPages > 10 }" class="block-27">
            <ul th:if="${currentPage <= 6}">
              <li th:if="${currentPage != 1}">
                <a th:href="@{'/shop?cate=' + ${ searchCate } + '&page=' + ${currentPage -1}}" >&lt;</a>
              </li>
              <li th:each="i: ${#numbers.sequence(1, 8)}" th:classappend="${currentPage ==i ? 'active':''}" >
                <a th:if="${currentPage != i}" th:href="@{'/shop?cate=' + ${ searchCate } + '&page=' + ${i}}" >[[${i}]]</a>
                <span th:unless="${currentPage != i}">[[${i}]]</span>
              </li>
              <li  >
                <span  >...</span>
              </li>
              <li th:classappend="${currentPage == (totalPages ) ? 'active':''}"  >
                <a   th:href="@{'/shop?cate=' + ${ searchCate } + '&page='  + ${totalPages }}" >[[${totalPages}]]</a>
              </li>
              <li th:if="${currentPage!=totalPages}">
                <a th:if="${currentPage < totalPages}" th:href="@{'/shop?cate=' + ${ searchCate } + '&page='  + ${currentPage + 1}}" >&gt;</a>
                <span th:unless="${currentPage < totalPages}"> > </span>
              </li>
            </ul>
            <ul th:unless="${currentPage <= 6}" th:if="${ (totalPages - currentPage) <=6 }">
              <li th:if="${currentPage != 1}">
                <a th:href="@{'/shop?cate=' + ${ searchCate } + '&page=' + ${currentPage -1}}" >&lt;</a>
              </li>
              <li th:classappend="${currentPage ==1 ? 'active':''}"  >
                <a  th:href="@{'/shop?cate=' + ${ searchCate } + '&page=1'}" >1</a>
              </li>
              <li th:classappend="${currentPage ==2 ? 'active':''}"  >
                <a  th:href="@{'/shop?cate=' + ${ searchCate } + '&page=2'}" >2</a>
              </li>
              <li  >
                <span >...</span>
              </li>
              <li th:each="i: ${#numbers.sequence((totalPages -7), totalPages)}" th:classappend="${currentPage ==i ? 'active':''}" class="page-item">
                <a th:if="${currentPage != i}" th:href="@{'/shop?cate=' + ${ searchCate } + '&page=' + ${i}}" >[[${i}]]</a>
                <span  th:unless="${currentPage != i}">[[${i}]]</span>
              </li>
              <li th:if="${currentPage!=totalPages}">
                <a th:if="${currentPage < totalPages}" th:href="@{'/shop?cate=' + ${ searchCate } + '&page='  + ${currentPage + 1}}" >&gt;</a>
                <span th:unless="${currentPage < totalPages}"> > </span>
              </li>
            </ul>

            <ul th:unless="${currentPage <= 6}" th:if="${ (totalPages - currentPage) >6 }">
              <li th:if="${currentPage != 1}">
                <a th:href="@{'/shop?cate=' + ${ searchCate } + '&page=' + ${currentPage -1}}" >&lt;</a>
              </li>
              <li th:classappend="${currentPage ==1 ? 'active':''}"  >
                <a   th:href="@{'/shop?cate=' + ${ searchCate } + '&page=1'}" >1</a>
              </li>
              <li th:classappend="${currentPage ==2 ? 'active':''}"  >
                <a   th:href="@{'/shop?cate=' + ${ searchCate } + '&page=2' }" >2</a>
              </li>
              <li  >
                <span  >...</span>
              </li>
              <li th:each="i: ${#numbers.sequence((currentPage -3), (currentPage+3))}" th:classappend="${currentPage ==i ? 'active':''}" class="page-item">
                <a th:if="${currentPage != i}" th:href="@{'/shop?cate=' + ${ searchCate } + '&page='+ ${i}}" >[[${i}]]</a>
                <span th:unless="${currentPage != i}">[[${i}]]</span>
              </li>
              <li  >
                <span  >...</span>
              </li>
              <li th:classappend="${currentPage == (totalPages - 1) ? 'active':''}"  >
                <a   th:href="@{'/shop?cate=' + ${ searchCate } + '&page=' + ${totalPages - 1}}" >[[${totalPages-1}]]</a>
              </li>
              <li th:classappend="${currentPage == totalPages ? 'active':''}"  >
                <a   th:href="@{'/shop?cate=' + ${ searchCate } + '&page='+ ${totalPages } }" >[[${totalPages}]]</a>
              </li>
              <li th:if="${currentPage!=totalPages}">
                <a th:if="${currentPage < totalPages}" th:href="@{'/shop?cate=' + ${ searchCate } + '&page='  + ${currentPage + 1}}" >&gt;</a>
                <span th:unless="${currentPage < totalPages}"> > </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
    <div class="container py-4">
      <div class="row d-flex justify-content-center py-5">
        <div class="col-md-6">
          <h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
          <span>Get e-mail updates about our latest shops and special offers</span>
        </div>
        <div class="col-md-6 d-flex align-items-center">
          <form action="#" class="subscribe-form">
            <div class="form-group d-flex">
              <input type="text" class="form-control" placeholder="Enter email address">
              <input type="submit" value="Subscribe" class="submit px-3">
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>

</body>

</html>