<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{public/layout/templateuser.html}">
<head>
    <meta charset="UTF-8">
    <title>Thông tin cá nhân</title>
</head>
<body>
<div  layout:fragment="content" class="container" style="margin-bottom: 30px; margin-top: 25px">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 ">
                <div class="card mb-3" >
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img th:src=" ${customerDetail.customer != null && customerDetail.customer.imgurl != null ? customerDetail.customer.imgurl : '/images/logo.jpg' } " alt="Khách hàng" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4 th:text="${customerDetail.username}"></h4>
                                <input id="jobCustomer" class="text-secondary mb-1" type="text" th:value="${customerDetail.customer != null ?  customerDetail.customer.job :'' }" style="width: 100%;height: 100%; border: unset"  required>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Họ tên</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input id="fullnameCustomer" type="text" th:value="${customerDetail.fullname}" style="width: 100%;height: 100%; border: unset" placeholder="Chưa cập nhập họ tên" >
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input id="emailCustomer" type="email" th:value="${customerDetail.email}" style="width: 100%;height: 100%; border: unset"  placeholder="Chưa cập nhập nhập email" >
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Số điện thoại</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input id="phoneCustomer" type="text" th:value="${ customerDetail.customer != null ? customerDetail.customer.phone :'f'}" style="width: 100%;height: 100%; border: unset"  placeholder="Chưa cập nhập số điện thoại"  >
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Địa chỉ</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <input id="addressCustomer" type="text" th:value="${customerDetail.address}" style="width: 100%;height: 100%; border: unset"  placeholder="Chưa cập nhập địa chỉ" >
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Giớ tính</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <select id ="sex">
                                    <option value="0" th:selected="${customerDetail.sex  == 0}" >Nam</option>
                                    <option value="1" th:selected="${customerDetail.sex  == 1}">Nữ</option>
                                </select>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12" >
                                <a class="btn btn-success" style="color:white; border: none;" onclick="updateCustomer()" target="__blank" >Cập nhập</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>