<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{public/layout/templateuser.html}">
<head>
  <meta charset="UTF-8" />
  <title>Danh mục ưa thích</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div layout:fragment="slider"  class="hero-wrap hero-bread" th:style="'background-image: url(\'/images/bg_1.jpg\');'">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Wishlist</span></p>
        <h1 class="mb-0 bread">My Wishlist</h1>
      </div>
    </div>
  </div>
</div>

<div layout:fragment="content" >
  <section class="ftco-section ftco-cart">
    <div class="container">
      <div class="row">
        <div th:if="${totalItems == 0}" class="col-md-12 text-center">
          <span>Không tồn tại danh mục nào</span>
        </div>
        <div th:if="${totalItems > 0}" class="col-md-12 ftco-animate">
            <table class="table">
              <thead class="thead-primary">
              <tr class="text-center">
                <th>&nbsp;</th>
                <th>Sản phẩm</th>
                <th>Thông tin</th>
                <th>Giá hiện tại</th>
                <th>Tình trạng sản phẩm</th>
                <th> </th>
              </tr>
              </thead>
              <tbody>
                <!--/*@thymesVar id="listWishlist" type="com.team1.project.entity.WishlistEntity"*/-->
                <tr th:each="wishlist:${listWishlist}" class="text-center">
                  <td class="product-remove"><a th:onclick="'updateWishlist('+${wishlist.productWishlist.id}+ ')'" ><span class="ion-ios-close"></span></a></td>

                  <td class="image-prod">
                    <div class="img" th:style="'background-image:url('+ ${wishlist.productWishlist.image}+ ');'"></div>
                  </td>

                  <td class="product-name">
                    <h3 th:text="${wishlist.productWishlist.name}"></h3>
                    <p style="color: black" th:if="${wishlist.productWishlist.discount > 0}" th:text="'Giảm giá : '+ ${wishlist.productWishlist.discount} + '%'"></p>
<!--                    <p th:text="${wishlist.productWishlist.description}"></p>-->
                  </td>

                  <td class="price">
                    <p th:if="${wishlist.productWishlist.discount > 0}" >
                      <span style="text-decoration: line-through;color: #b3b3b3;" th:text="${ wishlist.productWishlist.price}" ></span>
                      <span style="color: #82ae46;" th:with="priceDiscount=${ wishlist.productWishlist.price} * ( 1 -${wishlist.productWishlist.discount}/100) " th:text=" ${priceDiscount} +'đ ' + ' /1 '+${wishlist.productWishlist.unit}"></span>
                    </p>
                    <p th:if="${wishlist.productWishlist.discount == 0}" class="price">
                      <span style="color: #82ae46;" th:text="${wishlist.productWishlist.price}+ 'đ'+' / 1 '+${wishlist.productWishlist.unit}"></span>
                    </p>
                  </td>

                  <td class="">
                    <span th:if="${wishlist.productWishlist.status == 99}">Ngừng kinh doanh</span>
                    <span th:if="${wishlist.productWishlist.status == 0}">Hết hàng</span>
                    <span th:if="${wishlist.productWishlist.status == 1}" th:text="'Có sẵn '+ ${wishlist.productWishlist.quantity} +' '+${wishlist.productWishlist.unit}"></span>
                  </td>

                  <td >
                    <a th:onclick="'addtoCart('+ ${wishlist.productWishlist.id} + ')'" class="btn btn-success py-3 px-4" style="color:white; border: none;">Thêm vào giỏ hàng</a>
                  </td>
                </tr>

              </tbody>
            </table>
        </div>
        <div th:if="${totalPages > 1 && totalPages <= 15}" th:style="'margin-left: auto; margin-right: 15px;'">
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              <li class="page-item" th:if="${currentPage != 1}">
                <a class="page-link" th:href="@{'/customer/wishlist?page=' + ${currentPage -1}}" >Previous</a>
              </li>
              <li th:each="i: ${#numbers.sequence(1, totalPages)}" th:classappend="${currentPage ==i ? 'active':''}" class="page-item">
                <a th:if="${currentPage != i}" th:href="@{'/customer/wishlist?page=' + ${i}}" class="page-link">[[${i}]]</a>
                <span class="page-link" th:unless="${currentPage != i}">[[${i}]]</span>
              </li>
              <li class="page-item" th:if="${currentPage!=totalPages}">
                <a th:if="${currentPage < totalPages}" th:href="@{'/customer/wishlist?page=' + ${currentPage + 1}}" class="page-link">Next</a>
                <span class="page-link" th:unless="${currentPage < totalPages}">Next</span>
              </li>
              <li class="page-item" th:if="${currentPage!=totalPages}">
                <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/customer/wishlist?page=' + ${totalPages}}">Last</a>
                <span class="page-link" th:unless="${currentPage < totalPages}">Last</span>
              </li>
            </ul>
          </nav>
        </div>
        <div th:if="${totalPages > 15 }" th:style="'margin-left: auto; margin-right: 15px;'">
          <nav th:if="${currentPage <= 8} " aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              <li class="page-item" th:if="${currentPage != 1}">
                <a class="page-link" th:href="@{'/customer/wishlist?page=' + ${currentPage -1}}" >Previous</a>
              </li>
              <li th:each="i: ${#numbers.sequence(1, 10)}" th:classappend="${currentPage ==i ? 'active':''}" class="page-item">
                <a th:if="${currentPage != i}" th:href="@{'/customer/wishlist?page=' + ${i}}" class="page-link">[[${i}]]</a>
                <span class="page-link" th:unless="${currentPage != i}">[[${i}]]</span>
              </li>
              <li class="page-item disabled" aria-disabled="true">
                <span class="page-link">...</span>
              </li>
              <li th:classappend="${currentPage == (totalPages - 1) ? 'active':''}" class="page-item" >
                <a class="page-link" th:href="@{'/customer/wishlist?page=' + ${totalPages - 1}}" >[[${totalPages-1}]]</a>
              </li>
              <li th:classappend="${currentPage == totalPages ? 'active':''}" class="page-item" >
                <a class="page-link" th:href="@{'/customer/wishlist?page=2'+ ${totalPages } }" >[[${totalPages}]]</a>
              </li>
              <li class="page-item" th:if="${currentPage!=totalPages}">
                <a th:if="${currentPage < totalPages}" th:href="@{'/customer/wishlist?page=' + ${currentPage + 1}}" class="page-link">Next</a>
                <span class="page-link" th:unless="${currentPage < totalPages}">Next</span>
              </li>
              <li class="page-item" th:if="${currentPage!=totalPages}">
                <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/customer/wishlist?page=' + ${totalPages}}">Last</a>
                <span class="page-link" th:unless="${currentPage < totalPages}">Last</span>
              </li>
            </ul>
          </nav>
          <nav th:unless="${currentPage <= 8}" aria-label="Page navigation example">
            <ul th:if="${ (totalPages - currentPage) <=6 }" class="pagination justify-content-end">
              <li class="page-item" th:if="${currentPage != 1}">
                <a class="page-link" th:href="@{'/customer/wishlist?page=' + ${currentPage -1}}" >Previous</a>
              </li>
              <li th:classappend="${currentPage ==1 ? 'active':''}" class="page-item" >
                <a class="page-link" th:href="@{'/customer/wishlist?page=1'}" >1</a>
              </li>
              <li th:classappend="${currentPage ==2 ? 'active':''}" class="page-item" >
                <a class="page-link" th:href="@{'/customer/wishlist?page=2' }" >2</a>
              </li>
              <li class="page-item disabled" aria-disabled="true">
                <span class="page-link">...</span>
              </li>
              <li th:each="i: ${#numbers.sequence((totalPages -9), totalPages)}" th:classappend="${currentPage ==i ? 'active':''}" class="page-item">
                <a th:if="${currentPage != i}" th:href="@{'/customer/wishlist?page=' + ${i}}" class="page-link">[[${i}]]</a>
                <span class="page-link" th:unless="${currentPage != i}">[[${i}]]</span>
              </li>
              <li class="page-item" th:if="${currentPage!=totalPages}">
                <a th:if="${currentPage < totalPages}" th:href="@{'/customer/wishlist?page=' + ${currentPage + 1}}" class="page-link">Next</a>
                <span class="page-link" th:unless="${currentPage < totalPages}">Next</span>
              </li>
              <li class="page-item" th:if="${currentPage!=totalPages}">
                <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/customer/wishlist?page=' + ${totalPages}}">Last</a>
                <span class="page-link" th:unless="${currentPage < totalPages}">Last</span>
              </li>
            </ul>

            <ul th:unless="${ (totalPages - currentPage) <=6 }" class="pagination justify-content-end">
              <li class="page-item" th:if="${currentPage != 1}">
                <a class="page-link" th:href="@{'/customer/wishlist?page=' + ${currentPage -1}}" >Previous</a>
              </li>
              <li th:classappend="${currentPage ==1 ? 'active':''}" class="page-item" >
                <a class="page-link" th:href="@{'/customer/wishlist?page=1'}" >1</a>
              </li>
              <li th:classappend="${currentPage ==2 ? 'active':''}" class="page-item" >
                <a class="page-link" th:href="@{'/customer/wishlist?page=2' }" >2</a>
              </li>
              <li class="page-item disabled" aria-disabled="true">
                <span class="page-link">...</span>
              </li>
              <li th:each="i: ${#numbers.sequence((currentPage -3), (currentPage+3))}" th:classappend="${currentPage ==i ? 'active':''}" class="page-item">
                <a th:if="${currentPage != i}" th:href="@{'/customer/wishlist?page=' + ${i}}" class="page-link">[[${i}]]</a>
                <span class="page-link" th:unless="${currentPage != i}">[[${i}]]</span>
              </li>
              <li class="page-item disabled" aria-disabled="true">
                <span class="page-link">...</span>
              </li>
              <li th:classappend="${currentPage == (totalPages - 1) ? 'active':''}" class="page-item" >
                <a class="page-link" th:href="@{'/customer/wishlist?page=' + ${totalPages - 1}}" >[[${totalPages-1}]]</a>
              </li>
              <li th:classappend="${currentPage == totalPages ? 'active':''}" class="page-item" >
                <a class="page-link" th:href="@{'/customer/wishlist?page=2'+ ${totalPages } }" >[[${totalPages}]]</a>
              </li>
              <li class="page-item" th:if="${currentPage!=totalPages}">
                <a th:if="${currentPage < totalPages}" th:href="@{'/customer/wishlist?page=' + ${currentPage + 1}}" class="page-link">Next</a>
                <span class="page-link" th:unless="${currentPage < totalPages}">Next</span>
              </li>
              <li class="page-item" th:if="${currentPage!=totalPages}">
                <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/customer/wishlist?page=' + ${totalPages}}">Last</a>
                <span class="page-link" th:unless="${currentPage < totalPages}">Last</span>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
    <div class="container py-4">
      <div class="row d-flex justify-content-center py-5">
        <div class="col-md-6">
          <h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
          <span>Get e-mail updates about our latest shops and special offers</span>
        </div>
        <div class="col-md-6 d-flex align-items-center">
          <form action="#" class="subscribe-form">
            <div class="form-group d-flex">
              <input type="text" class="form-control" placeholder="Enter email address">
              <input type="submit" value="Subscribe" class="submit px-3">
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
</body>

</html>