<table class="table table-striped">
  <thead>
  <tr>
    <th>STT</th>
    <th>Tên</th>
    <th>Mô tả</th>
    <th>Trang thái</th>
    <th>Hành động</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="dt:${data} ">
    <td>#</td>
    <td th:text="${dt.name}"></td>
    <td th:text="${dt.description}"></td>
    <td th:if="${dt.isactive == 1}">Đang hoạt động</td>
    <td th:if="${dt.isactive == 2}">Ngừng hoạt động</td>
    <td>
      <a href="javascript:void(0)" class="btn btn-success btn-detail" th:attr="data-id=${dt.id}, data-name=${dt.name}, data-des=${dt.description},data-status=${dt.isactive},data-date=${dt.createat},data-image=${dt.image}">
        <i class="fa fa-edit"></i>
      </a>
      <a href="javascript:void(0)" class="btn btn-danger delete-btn"  th:attr="data-id=${dt.id}, data-name=${dt.name}, data-des=${dt.description},data-status=${dt.isactive},data-date=${dt.createat}">
        <i class="fa fa-trash"></i>
      </a>
    </td>
  </tr>
  </tbody>

</table>