<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{admin/layout/template.html}">
<head>
    <meta charset="UTF-8">
    <title>Danh mục</title>
</head>
<body>

<nav layout:fragment="navbar" class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-toggle">
                <button type="button" class="navbar-toggler">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <!--/*@thymesVar id="config" type="com.team1.project.dto.LayoutConfig"*/-->
            <p th:text="${config.title}" class="navbar-brand" >Dashboard</p>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab">Danh muc</span>
            <span class="navbar-toggler-bar navbar-kebab">San pham</span>
            <span class="navbar-toggler-bar navbar-kebab">Nguoi dung</span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form  onsubmit="return false;">
                <div class="input-group no-border">
                    <input type="text" value="" id="txt-search" class="form-control" placeholder="Tìm kiếm ...">
                    <div class="input-group-append">
                        <div class="input-group-text" id="btn-search">
                            <i class="nc-icon nc-zoom-split"></i>
                        </div>
                    </div>
                </div>
            </form>
            <ul class="navbar-nav">
                <li class="nav-item btn-rotate dropdown">
                    <a  class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="nc-icon nc-single-02">
                        </i>
                        <span sec:authentication="name">Admin </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" >Tài khoản</a>
                        <a class="dropdown-item" th:href="@{'/admin/logout'}">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div layout:fragment="content" class="content">
    <div class="row">
        <div class="col-md-2  text-left">
            <button class="btn btn-primary" style=" float: right; right: 0px; width: 250px;border: 1px solid black;padding: 10px;" type="button" data-toggle="modal" data-target="#add-cate">Thêm mới</button>
        </div>
    </div>
    <div class="row mt-3" id="tbl-cate">
        <table class="table table-striped table-admin">
            <thead>
            <tr>
                <th>STT</th>
                <th>Tên</th>
                <th>Mô tả</th>
                <th>Trang thái</th>
                <th>Hành động</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dt:${data} ">
                <td>#</td>
                <td th:text="${dt.name}"></td>
                <td th:text="${dt.description}"></td>
                <td th:if="${dt.isactive == 1}">Đang hoạt động</td>
                <td th:if="${dt.isactive == 0}">Ngừng hoạt động</td>
                <td>
                    <a href="javascript:void(0)" class="btn btn-success btn-detail" th:attr="data-id=${dt.id}, data-name=${dt.name}, data-des=${dt.description},data-status=${dt.isactive},data-date=${dt.createat},data-image=${dt.image}">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a href="javascript:void(0)" class="btn btn-danger delete-btn"  th:attr="data-id=${dt.id}, data-name=${dt.name}, data-des=${dt.description},data-status=${dt.isactive},data-date=${dt.createat}">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
            </tbody>

        </table>
    </div>

    <div class="modal fade" id="add-cate">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Thêm mới danh mục</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <label class="text-bold">Tên danh mục <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Nhập tên danh mục" id="txt-name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <label class="text-bold">Mô tả</label>
                            <textarea type="text" cols="100" rows="4" class="form-control" placeholder="Nhập mô tả"
                                      id="txt-description"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <label class="text-bold">Trạng thái</label>
                            <select class="form-control" id="status-val">
                                <option value="1">Hoạt động</option>
                                <option value="2">Ngừng hoạt động</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-12 col-xs-12 col-sm-12">
                            <input type="file" id="input-url-image" name="UrlImage" class="dropify" accept="image/*" />
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" onclick="createCate()" class="btn btn-success">Lưu</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="cate-detai">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Cập nhật danh mục</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <label class="text-bold">Tên danh mục <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Nhập tên danh mục" id="txt-name-edit">
                            <input type="hidden"  id="id-val">
                            <input type="hidden"  id="date-val">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <label class="text-bold">Mô tả</label>
                            <textarea type="text" cols="100" rows="4" class="form-control" placeholder="Nhập mô tả"
                                      id="txt-description-edit"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <label class="text-bold">Trạng thái</label>
                            <select class="form-control" id="status-val-edit">
                                <option value="1">Hoạt động</option>
                                <option value="2">Ngừng hoạt động</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-md-12 col-xs-12 col-sm-12" id="div-img-detail">

                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" id="update-cate" class="btn btn-success">Lưu</button>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>