<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/Logo.png}">
    <link rel="icon" type="image/png" th:href="@{/img/Logo.png}">
    <link rel="stylesheet" th:href="@{'https://www.w3schools.com/w3css/4/w3.css'}">
    <title>Login</title>
    <link th:href="@{/admin/css/login.css}" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row" style="margin-right: 30%;margin-left: 30%" >
            <form class="modal-content animate " action="/admin/login" method="post">
                <div class="imgcontainer" >
                   <img th:src="@{'/img/logo.jpg'}" style="width: 30%; height: 30%;"  alt="Logo" class="avatar">
                </div>

                <div class="container">
                    <label ><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="username" required>

                    <label ><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" required>

                    <div th:if="${checklogin}" class="w3-panel w3-pale-red w3-border">
                        <p>Tài khoản hoặc mật khẩu không chính xác! Vui lòng thử lại </p>
                    </div>

                    <button type="submit" >Login</button>

                </div>
                <div class="container" style="background-color:#f1f1f1">
                    <span class="psw">Forgot <a href="#">password?</a></span>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
