<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:form="http://www.w3.org/1999/html"
      layout:decorate="~{admin/layout/template.html}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Nhà cung cấp</title>
  <style type="text/css">
    .input-form-create-user{
      width: 100%;padding: 12px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc;box-sizing: border-box;
    }
  </style>
</head>
<body>
<nav layout:fragment="navbar" class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <!--/*@thymesVar id="config" type="com.team1.project.dto.LayoutConfig"*/-->
      <p th:text="${config.title}" class="navbar-brand" >Dashboard</p>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-bar navbar-kebab">Danh muc</span>
      <span class="navbar-toggler-bar navbar-kebab">San pham</span>
      <span class="navbar-toggler-bar navbar-kebab">Nguoi dung</span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <form>
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Tìm kiếm ...">
          <div class="input-group-append">
            <div class="input-group-text">
              <i class="nc-icon nc-zoom-split"></i>
            </div>
          </div>
        </div>
      </form>
      <ul class="navbar-nav">
        <li class="nav-item btn-rotate dropdown">
          <a  class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="nc-icon nc-single-02">
            </i>
            <span sec:authentication="name">Admin </span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" >Tài khoản</a>
            <a class="dropdown-item" th:href="@{'/admin/logout'}">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div layout:fragment="content" class="content">
  <div class="row" style="margin: 5px">
    <button style=" float: right; right: 0px; width: 250px;border: 1px solid black;padding: 10px;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#createBuyer">
      Tạo nhà cung cấp
    </button>
    <table class="table table-striped table-admin " >
      <thead>
      <tr>
        <th scope="row" >#</th>
        <th class=" ">Tên đăng nhập</th>
        <th  class=" ">Tên</th>
        <th class=" ">Email</th>
        <th  class=" ">Sửa/Xóa</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="seller,state:${listSeller}" >
        <th th:text="${state.count}" scope="row">1</th>
        <td th:text="${seller.username}" th:id="'seller_name_'+${seller.id}" class=""></td>
        <td th:text="${seller.fullname}" th:id="'seller_full_name_'+${seller.id}"  class=""></td>
        <td th:text="${seller.email}" th:id="'seller_email_'+${seller.id}" class=""></td>
        <td class="">
          <ul class="list-inline m-0">
            <li class="list-inline-item">
              <button class="btn btn-success btn-sm rounded-0" th:onclick="'showSeller(' + ${seller.id} +')'"  data-toggle="modal" data-target="#view_userModel" type="button"  title="Edit"><i class="fa fa-edit"></i></button>
            </li>
            <li class="list-inline-item">
              <button class="btn btn-danger btn-sm rounded-0" th:onclick="'delete_seller(' + ${seller.id} +')'" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
            </li>
            <li class="list-inline-item">
              <button class="btn btn-danger btn-sm rounded-0" type="button" th:onclick="'resetpasswordseller(' + ${seller.id} +')'"> Reset pass</button>
            </li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!--  Phân trang -->
  <div th:if="${totalPages > 1 && totalPages <= 15}">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item" th:if="${currentPage != 1}">
          <a class="page-link" th:href="@{'/admin/seller?page=' + ${currentPage -1}}" >Previous</a>
        </li>
        <li th:each="i: ${#numbers.sequence(1, totalPages)}" th:classappend="${currentPage ==i ? 'active':''}" class="page-item">
          <a th:if="${currentPage != i}" th:href="@{'/admin/seller?page=' + ${i}}" class="page-link">[[${i}]]</a>
          <span class="page-link" th:unless="${currentPage != i}">[[${i}]]</span>
        </li>
        <li class="page-item" th:if="${currentPage!=totalPages}">
          <a th:if="${currentPage < totalPages}" th:href="@{'/admin/seller?page=' + ${currentPage + 1}}" class="page-link">Next</a>
          <span class="page-link" th:unless="${currentPage < totalPages}">Next</span>
        </li>
        <li class="page-item" th:if="${currentPage!=totalPages}">
          <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/admin/seller?page=' + ${totalPages}}">Last</a>
          <span class="page-link" th:unless="${currentPage < totalPages}">Last</span>
        </li>
      </ul>
    </nav>
  </div>
  <div th:if="${totalPages > 15 }">
    <nav th:if="${currentPage <= 8} " aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item" th:if="${currentPage != 1}">
          <a class="page-link" th:href="@{'/admin/seller?page=' + ${currentPage -1}}" >Previous</a>
        </li>
        <li th:each="i: ${#numbers.sequence(1, 10)}" th:classappend="${currentPage ==i ? 'active':''}" class="page-item">
          <a th:if="${currentPage != i}" th:href="@{'/admin/seller?page=' + ${i}}" class="page-link">[[${i}]]</a>
          <span class="page-link" th:unless="${currentPage != i}">[[${i}]]</span>
        </li>
        <li class="page-item disabled" aria-disabled="true">
          <span class="page-link">...</span>
        </li>
        <li th:classappend="${currentPage == (totalPages - 1) ? 'active':''}" class="page-item" >
          <a class="page-link" th:href="@{'/admin/seller?page=' + ${totalPages - 1}}" >[[${totalPages-1}]]</a>
        </li>
        <li th:classappend="${currentPage == totalPages ? 'active':''}" class="page-item" >
          <a class="page-link" th:href="@{'/admin/seller?page=2'+ ${totalPages } }" >[[${totalPages}]]</a>
        </li>
        <li class="page-item" th:if="${currentPage!=totalPages}">
          <a th:if="${currentPage < totalPages}" th:href="@{'/admin/seller?page=' + ${currentPage + 1}}" class="page-link">Next</a>
          <span class="page-link" th:unless="${currentPage < totalPages}">Next</span>
        </li>
        <li class="page-item" th:if="${currentPage!=totalPages}">
          <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/admin/seller?page=' + ${totalPages}}">Last</a>
          <span class="page-link" th:unless="${currentPage < totalPages}">Last</span>
        </li>
      </ul>
    </nav>
    <nav th:unless="${currentPage <= 8}" aria-label="Page navigation example">
      <ul th:if="${ (totalPages - currentPage) <=6 }" class="pagination justify-content-end">
        <li class="page-item" th:if="${currentPage != 1}">
          <a class="page-link" th:href="@{'/admin/seller?page=' + ${currentPage -1}}" >Previous</a>
        </li>
        <li th:classappend="${currentPage ==1 ? 'active':''}" class="page-item" >
          <a class="page-link" th:href="@{'/admin/seller?page=1'}" >1</a>
        </li>
        <li th:classappend="${currentPage ==2 ? 'active':''}" class="page-item" >
          <a class="page-link" th:href="@{'/admin/seller?page=2' }" >2</a>
        </li>
        <li class="page-item disabled" aria-disabled="true">
          <span class="page-link">...</span>
        </li>
        <li th:each="i: ${#numbers.sequence((totalPages -9), totalPages)}" th:classappend="${currentPage ==i ? 'active':''}" class="page-item">
          <a th:if="${currentPage != i}" th:href="@{'/admin/seller?page=' + ${i}}" class="page-link">[[${i}]]</a>
          <span class="page-link" th:unless="${currentPage != i}">[[${i}]]</span>
        </li>
        <li class="page-item" th:if="${currentPage!=totalPages}">
          <a th:if="${currentPage < totalPages}" th:href="@{'/admin/seller?page=' + ${currentPage + 1}}" class="page-link">Next</a>
          <span class="page-link" th:unless="${currentPage < totalPages}">Next</span>
        </li>
        <li class="page-item" th:if="${currentPage!=totalPages}">
          <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/admin/seller?page=' + ${totalPages}}">Last</a>
          <span class="page-link" th:unless="${currentPage < totalPages}">Last</span>
        </li>
      </ul>

      <ul th:unless="${ (totalPages - currentPage) <=6 }" class="pagination justify-content-end">
        <li class="page-item" th:if="${currentPage != 1}">
          <a class="page-link" th:href="@{'/admin/seller?page=' + ${currentPage -1}}" >Previous</a>
        </li>
        <li th:classappend="${currentPage ==1 ? 'active':''}" class="page-item" >
          <a class="page-link" th:href="@{'/admin/seller?page=1'}" >1</a>
        </li>
        <li th:classappend="${currentPage ==2 ? 'active':''}" class="page-item" >
          <a class="page-link" th:href="@{'/admin/seller?page=2' }" >2</a>
        </li>
        <li class="page-item disabled" aria-disabled="true">
          <span class="page-link">...</span>
        </li>
        <li th:each="i: ${#numbers.sequence((currentPage -3), (currentPage+3))}" th:classappend="${currentPage ==i ? 'active':''}" class="page-item">
          <a th:if="${currentPage != i}" th:href="@{'/admin/seller?page=' + ${i}}" class="page-link">[[${i}]]</a>
          <span class="page-link" th:unless="${currentPage != i}">[[${i}]]</span>
        </li>
        <li class="page-item disabled" aria-disabled="true">
          <span class="page-link">...</span>
        </li>
        <li th:classappend="${currentPage == (totalPages - 1) ? 'active':''}" class="page-item" >
          <a class="page-link" th:href="@{'/admin/seller?page=' + ${totalPages - 1}}" >[[${totalPages-1}]]</a>
        </li>
        <li th:classappend="${currentPage == totalPages ? 'active':''}" class="page-item" >
          <a class="page-link" th:href="@{'/admin/seller?page=2'+ ${totalPages } }" >[[${totalPages}]]</a>
        </li>
        <li class="page-item" th:if="${currentPage!=totalPages}">
          <a th:if="${currentPage < totalPages}" th:href="@{'/admin/seller?page=' + ${currentPage + 1}}" class="page-link">Next</a>
          <span class="page-link" th:unless="${currentPage < totalPages}">Next</span>
        </li>
        <li class="page-item" th:if="${currentPage!=totalPages}">
          <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/admin/seller  ?page=' + ${totalPages}}">Last</a>
          <span class="page-link" th:unless="${currentPage < totalPages}">Last</span>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Modal view user detail -->
  <div class="modal fade" id="view_userModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="user_name_modal">Chi tiết nhà cung cấp</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">X</span>
          </button>
        </div>
        <p hidden="hidden" id="idUpdateSeller"></p>
        <div class="modal-body">
          <label ><b>Full Name</b></label>
          <input type="text" id="seller_full_name_modal"  required>
          <br>
          <label ><b>Email</b></label>
          <input type="email" id="seller_email_modal" required>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" onclick="updateSeller()" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal create User-->
  <div class="modal fade" id="createBuyer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tạo mới nhà cung cấp</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">X</span>
          </button>
        </div>
        <div class="modal-body">
          <form  class="modal-content animate"  >
            <div style="padding: 16px">
              <label ><b>User name</b></label>
              <input id="username_create_seller_frm" type="text" placeholder="Nhập Username" required class="input-form-create-user">
              <br>
              <label ><b>Full name</b></label>
              <input id="fullname_create_seller_frm" type="text" placeholder="Nhập Full name" required class="input-form-create-user" >
              <br>
              <label ><b>Email</b></label>
              <input id="email_create_seller_frm" type="email" placeholder="Nhập Email" required  class="input-form-create-user" >
              <br>
              <label ><b>Mật khẩu</b></label>
              <input type="password" id="password_create_seller_frm" placeholder="Nhập Password" required class="input-form-create-user">
              <button type="button" onclick="createSeller()" >Lưu</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

</body>
</html>
