<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:form="http://www.w3.org/1999/html"
      layout:decorate="~{admin/layout/template.html}">
<head>
    <meta charset="UTF-8">
    <title>Thống kê</title>
</head>
<body>
<div layout:fragment="content" class="content">

    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>STT</th>
                <th>Tên doanh nghiệp</th>
                <th>Doanh thu</th>
                <th>Đơn hàng thành công</th>
                <th>Đơn hàng đang xử lý</th>
                <th>Đơn hàng bị hủy</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
              <td>Hoàng Long Green</td>
                <td>15.000.000</td>
                <td>10</td>
                <td>20</td>
                <td>5</td>
            </tr>
            <tr>
                <td>2</td>
              <td>Minh An</td>
                <td>12.000.000</td>
                <td>10</td>
                <td>15</td>
                <td>5</td>
            </tr>
<!--            <tr th:each="dt:${data} ">-->
<!--                <td>#</td>-->
<!--                <td th:text="${dt.name}"></td>-->
<!--                <td th:text="${dt.description}"></td>-->
<!--            </tr>-->
            </tbody>

        </table>
    </div>
</div>
</body>
</html>