<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:form="http://www.w3.org/1999/html"
      layout:decorate="~{admin/layout/template.html}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User</title>
    <style type="text/css">
        .input-form-create-user{
            width: 100%;padding: 12px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc;box-sizing: border-box;
        }
    </style>
</head>
<body>
<div layout:fragment="content" class="content">
    <div class="row" style="margin: 5px">
        <button style=" float: right; right: 0px; width: 250px;border: 1px solid black;padding: 10px;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#createUser">
            Create User
        </button>
        <table class="table table-striped " >
            <thead>
            <tr>
                <th scope="row" >#</th>
                <th class=" ">User_Name</th>
                <th  class=" ">Full_Name</th>
                <th class=" ">Email</th>
                <th  class=" ">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user,state:${listuser}" >
                <th th:text="${state.count}" scope="row">1</th>
                <td th:text="${user.username}" th:id="'user_name_'+${user.id}" class=""></td>
                <td th:text="${user.fullname}" th:id="'user_full_name_'+${user.id}"  class=""></td>
                <td th:text="${user.email}" th:id="'user_email_'+${user.id}" class=""></td>
                <td class="">
                    <ul class="list-inline m-0">
                        <li class="list-inline-item">
                            <button class="btn btn-success btn-sm rounded-0" th:onclick="'showuser(' + ${user.id} +')'"  data-toggle="modal" data-target="#view_userModel" type="button"  title="Edit"><i class="fa fa-edit"></i></button>
                        </li>
                        <li class="list-inline-item">
                            <button class="btn btn-danger btn-sm rounded-0" th:onclick="'delete_user(' + ${user.id} +')'" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                        </li>
                        <li class="list-inline-item">
                            <button class="btn btn-danger btn-sm rounded-0" type="button" th:onclick="'resetpassword(' + ${user.id} +')'"> Reset pass</button>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--  Phân trang -->
    <div th:if="${totalPages > 1 && totalPages <= 15}">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                <li class="page-item" th:if="${currentPage != 1}">
                    <a class="page-link" th:href="@{'/admin/user?page=' + ${currentPage -1}}" >Previous</a>
                </li>
                <li th:each="i: ${#numbers.sequence(1, totalPages)}" th:classappend="${currentPage ==i ? 'active':''}" class="page-item">
                    <a th:if="${currentPage != i}" th:href="@{'/admin/user?page=' + ${i}}" class="page-link">[[${i}]]</a>
                    <span class="page-link" th:unless="${currentPage != i}">[[${i}]]</span>
                </li>
                <li class="page-item" th:if="${currentPage!=totalPages}">
                    <a th:if="${currentPage < totalPages}" th:href="@{'/admin/user?page=' + ${currentPage + 1}}" class="page-link">Next</a>
                    <span class="page-link" th:unless="${currentPage < totalPages}">Next</span>
                </li>
                <li class="page-item" th:if="${currentPage!=totalPages}">
                    <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/admin/user?page=' + ${totalPages}}">Last</a>
                    <span class="page-link" th:unless="${currentPage < totalPages}">Last</span>
                </li>
            </ul>
        </nav>
    </div>
    <div th:if="${totalPages > 15 }">
        <nav th:if="${currentPage <= 8} " aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                <li class="page-item" th:if="${currentPage != 1}">
                    <a class="page-link" th:href="@{'/admin/user?page=' + ${currentPage -1}}" >Previous</a>
                </li>
                <li th:each="i: ${#numbers.sequence(1, 10)}" th:classappend="${currentPage ==i ? 'active':''}" class="page-item">
                    <a th:if="${currentPage != i}" th:href="@{'/admin/user?page=' + ${i}}" class="page-link">[[${i}]]</a>
                    <span class="page-link" th:unless="${currentPage != i}">[[${i}]]</span>
                </li>
                <li class="page-item disabled" aria-disabled="true">
                    <span class="page-link">...</span>
                </li>
                <li th:classappend="${currentPage == (totalPages - 1) ? 'active':''}" class="page-item" >
                    <a class="page-link" th:href="@{'/admin/user?page=' + ${totalPages - 1}}" >[[${totalPages-1}]]</a>
                </li>
                <li th:classappend="${currentPage == totalPages ? 'active':''}" class="page-item" >
                    <a class="page-link" th:href="@{'/admin/user?page=2'+ ${totalPages } }" >[[${totalPages}]]</a>
                </li>
                <li class="page-item" th:if="${currentPage!=totalPages}">
                    <a th:if="${currentPage < totalPages}" th:href="@{'/admin/user?page=' + ${currentPage + 1}}" class="page-link">Next</a>
                    <span class="page-link" th:unless="${currentPage < totalPages}">Next</span>
                </li>
                <li class="page-item" th:if="${currentPage!=totalPages}">
                    <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/admin/user?page=' + ${totalPages}}">Last</a>
                    <span class="page-link" th:unless="${currentPage < totalPages}">Last</span>
                </li>
            </ul>
        </nav>
        <nav th:unless="${currentPage <= 8}" aria-label="Page navigation example">
            <ul th:if="${ (totalPages - currentPage) <=6 }" class="pagination justify-content-end">
                <li class="page-item" th:if="${currentPage != 1}">
                    <a class="page-link" th:href="@{'/admin/user?page=' + ${currentPage -1}}" >Previous</a>
                </li>
                <li th:classappend="${currentPage ==1 ? 'active':''}" class="page-item" >
                    <a class="page-link" th:href="@{'/admin/user?page=1'}" >1</a>
                </li>
                <li th:classappend="${currentPage ==2 ? 'active':''}" class="page-item" >
                    <a class="page-link" th:href="@{'/admin/user?page=2' }" >2</a>
                </li>
                <li class="page-item disabled" aria-disabled="true">
                    <span class="page-link">...</span>
                </li>
                <li th:each="i: ${#numbers.sequence((totalPages -9), totalPages)}" th:classappend="${currentPage ==i ? 'active':''}" class="page-item">
                    <a th:if="${currentPage != i}" th:href="@{'/admin/user?page=' + ${i}}" class="page-link">[[${i}]]</a>
                    <span class="page-link" th:unless="${currentPage != i}">[[${i}]]</span>
                </li>
                <li class="page-item" th:if="${currentPage!=totalPages}">
                    <a th:if="${currentPage < totalPages}" th:href="@{'/admin/user?page=' + ${currentPage + 1}}" class="page-link">Next</a>
                    <span class="page-link" th:unless="${currentPage < totalPages}">Next</span>
                </li>
                <li class="page-item" th:if="${currentPage!=totalPages}">
                    <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/admin/user?page=' + ${totalPages}}">Last</a>
                    <span class="page-link" th:unless="${currentPage < totalPages}">Last</span>
                </li>
            </ul>

            <ul th:unless="${ (totalPages - currentPage) <=6 }" class="pagination justify-content-end">
                <li class="page-item" th:if="${currentPage != 1}">
                    <a class="page-link" th:href="@{'/admin/user?page=' + ${currentPage -1}}" >Previous</a>
                </li>
                <li th:classappend="${currentPage ==1 ? 'active':''}" class="page-item" >
                    <a class="page-link" th:href="@{'/admin/user?page=1'}" >1</a>
                </li>
                <li th:classappend="${currentPage ==2 ? 'active':''}" class="page-item" >
                    <a class="page-link" th:href="@{'/admin/user?page=2' }" >2</a>
                </li>
                <li class="page-item disabled" aria-disabled="true">
                    <span class="page-link">...</span>
                </li>
                <li th:each="i: ${#numbers.sequence((currentPage -3), (currentPage+3))}" th:classappend="${currentPage ==i ? 'active':''}" class="page-item">
                    <a th:if="${currentPage != i}" th:href="@{'/admin/user?page=' + ${i}}" class="page-link">[[${i}]]</a>
                    <span class="page-link" th:unless="${currentPage != i}">[[${i}]]</span>
                </li>
                <li class="page-item disabled" aria-disabled="true">
                    <span class="page-link">...</span>
                </li>
                <li th:classappend="${currentPage == (totalPages - 1) ? 'active':''}" class="page-item" >
                    <a class="page-link" th:href="@{'/admin/user?page=' + ${totalPages - 1}}" >[[${totalPages-1}]]</a>
                </li>
                <li th:classappend="${currentPage == totalPages ? 'active':''}" class="page-item" >
                    <a class="page-link" th:href="@{'/admin/user?page=2'+ ${totalPages } }" >[[${totalPages}]]</a>
                </li>
                <li class="page-item" th:if="${currentPage!=totalPages}">
                    <a th:if="${currentPage < totalPages}" th:href="@{'/admin/user?page=' + ${currentPage + 1}}" class="page-link">Next</a>
                    <span class="page-link" th:unless="${currentPage < totalPages}">Next</span>
                </li>
                <li class="page-item" th:if="${currentPage!=totalPages}">
                    <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/admin/user?page=' + ${totalPages}}">Last</a>
                    <span class="page-link" th:unless="${currentPage < totalPages}">Last</span>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Modal view user detail -->
    <div class="modal fade" id="view_userModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="user_name_modal">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <p hidden="hidden" id="idUpdateUser"></p>
                <div class="modal-body">
                    <label ><b>Full Name</b></label>
                    <input type="text" id="user_full_name_modal"  required>
                    <br>
                    <label ><b>Email</b></label>
                    <input type="email" id="user_email_modal" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" onclick="updateUser()" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal create User-->
    <div class="modal fade" id="createUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{'/admin/user/create'}"  class="modal-content animate"  method="post">
                        <div style="padding: 16px">
                            <label ><b>User name</b></label>
                            <input id="username_create_frm" type="text" placeholder="Enter Username" required class="input-form-create-user">
                            <br>
                            <label ><b>Full name</b></label>
                            <input id="fullname_create_frm" type="text" placeholder="Enter Full name" required class="input-form-create-user" >
                            <br>
                            <label ><b>Email</b></label>
                            <input id="email_create_frm" type="email" placeholder="Enter Email" required  class="input-form-create-user" >
                            <br>
                            <button type="button" onclick="createUser()" >Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
