<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{admin/layout/template.html}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Chi tiết đơn hàng</title>
</head>
<body>
<nav layout:fragment="navbar" class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-toggle">
                <button type="button" class="navbar-toggler">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <p th:text="'Chi tiết đơn hàng '+ ${order.code}" class="navbar-brand" ></p>
        </div>

        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form>
                <div class="input-group no-border">
                    <input type="text" value="" class="form-control" placeholder="Tìm kiếm ...">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <i class="nc-icon nc-zoom-split"></i>
                        </div>
                    </div>
                </div>
            </form>
            <ul class="navbar-nav">
                <li class="nav-item btn-rotate dropdown">
                    <a  class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="nc-icon nc-single-02">
                        </i>
                        <span sec:authentication="name">Admin </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" >Tài khoản</a>
                        <a class="dropdown-item" th:href="@{'/admin/logout'}">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div layout:fragment="content" class="content">
    <div class="row" style="margin: 5px">
       <table class="table table-striped table-admin " >
            <thead>
                <tr>
                    <th scope="col" >#</th>
                    <th scope="col" >Sản phẩm </th>
                    <th scope="col" >Tên sản phẩm </th>
                    <th scope="col" >Đơn giá </th>
                    <th scope="col" >Số lượng </th>
                    <th scope="col" >Giảm giá</th>
                    <th scope="col" >Tổng</th>
                    <th scope="col" >Trạng thái</th>
                    <th scope="col" >Xác nhận đơn hàng</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="orderDetail,state: ${listOrderDetail}" >
                    <td th:text="${state.count}" scope="row"></td>
                    <td>
                        <img style="width: auto; height: 150px; display: block; padding: 10px 15px;" th:src="${ orderDetail.product_order.image }">
                    </td>
                    <td th:text="${ orderDetail.product_order.name}"></td>
                    <td th:text="${ orderDetail.price} +' đ/1 ' + ${ orderDetail.product_order.unit } "></td>
                    <td th:text="${ orderDetail.quantity}"></td>
                    <td th:text="${ orderDetail.discount}+' %'"></td>
                    <td th:text="${ orderDetail.price}*( 1 - ${ orderDetail.discount} / 100) * ${ orderDetail.quantity }"></td>
                    <td>
                        <span th:if="${orderDetail.status == 0}" style="color: #1DA1F2">Chờ xác nhận</span>
                        <span th:if="${orderDetail.status == 1}" style="color:#04AA6D;">Đã xác nhận</span>
                        <span th:if="${orderDetail.status == 2}" style="color:#0d58f1;">Đã hoàn thành</span>
                        <span th:if="${orderDetail.status == -1}" style="color:#e52d27;">Đã bị hủy</span>
                        <span th:if="${orderDetail.status == -2}" style="color:#e52d27;">Đã bị từ chối</span>
                    </td>
                    <td><button class="btn btn-success" th:if="${orderDetail.status == 0 && role == 3}" th:onclick="'sellerConfirmOrder(' + ${orderDetail.id} + ');'">Xác nhận</button></td>
                </tr>
            </tbody>
        </table>
        <div class="row" style="width: 100%;">
            <span class="col-8" style="text-align: right; font-weight: bold; font-size: 18px;">Tổng số tiền: </span>
            <span class="col-4" style="font-weight: bold; font-size: 18px;" th:text="${ total } +' đ'"></span>
        </div>
        <div>
            <button class="btn btn-danger" th:if="${order.status == 0 && role == 3}" th:onclick="'sellerCancelOrder(' + ${order.id} + ');'">Từ chối đơn hàng</button>
        </div>
        <div class="row justify-content-center" style="width: 100%; margin-top: 30px;">
            <a th:href="@{/admin/business/order/index}" type="button" class="btn btn-secondary" style="margin: 0 auto">Quay lại</a>
        </div>
    </div>
</div>

</body>
</html>

