<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{admin/layout/template.html}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Danh sách đơn hàng</title>
</head>
<body>
<nav layout:fragment="navbar" class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <!--/*@thymesVar id="config" type="com.team1.project.dto.LayoutConfig"*/-->
      <p th:text="${config.title}" class="navbar-brand" >Dashboard</p>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-bar navbar-kebab">Danh muc</span>
      <span class="navbar-toggler-bar navbar-kebab">San pham</span>
      <span class="navbar-toggler-bar navbar-kebab">Nguoi dung</span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <form>
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Tìm kiếm ...">
          <div class="input-group-append">
            <div class="input-group-text">
              <i class="nc-icon nc-zoom-split"></i>
            </div>
          </div>
        </div>
      </form>
      <ul class="navbar-nav">
        <li class="nav-item btn-rotate dropdown">
          <a  class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="nc-icon nc-single-02">
            </i>
            <span sec:authentication="name"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" >Tài khoản</a>
            <a class="dropdown-item" th:href="@{'/admin/logout'}">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div layout:fragment="content" class="content">
  <div class="row" style="margin: 5px">
    <div class="col-12">
      <select class="float-right" id ="statusAdminOrder" onChange="window.location.href=this.value" style="margin-right: 25px">
        <option th:selected="${status == 100 }" value="/admin/business/order" >Tất cả</option>
        <option th:selected="${status == 0 }" value="/admin/business/order?status=0" >Chờ xác nhận</option>
        <option th:selected="${status == 1 }" value="/admin/business/order?status=1" >Đang xác nhận</option>
        <option th:selected="${status == 2 }" value="/admin/business/order?status=2" >Đang thực hiện</option>
        <option th:selected="${status == 3 }" value="/admin/business/order?status=3" >Đang giao hàng</option>
        <option th:selected="${status == 4 }" value="/admin/business/order?status=4" >Hoàn thành</option>
        <option th:selected="${status == -1 }" value="/admin/business/order?status=-1" >Đã hủy</option>
        <option th:selected="${status == -2 }" value="/admin/business/order?status=-2" >Đã bị từ chối</option>
      </select>
    </div>
    <table class="table table-striped table-admin" >
      <thead>
        <tr>
          <th scope="col" >#</th>
          <th scope="col"> Mã đơn</th>
          <th scope="col"> Người nhận</th>
          <th scope="col"> Địa chỉ</th>
          <th scope="col"> SĐT </th>
      <!--        <th scope="col"> Email</th>-->
          <th scope="col"> Ghi chú</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="order,state:${listOrder}" >
          <th th:text="${state.count}" scope="row">1</th>
          <td th:text="${order.code}"></td>
          <td th:text="${order.fullname}"></td>
          <td th:text="${order.address}"></td>
          <td th:text="${order.phone}"></td>
  <!--        <td th:text="${order.email}"></td>-->
          <td th:text="${order.note}"></td>
          <td >
            <span th:if="${order.status == 0 || order.status == 1 && order.orderDetail[0].status == 0}" class="text-dark"> Chờ xác nhận </span>
            <span th:if="${order.status == 2 || order.status == 1 && order.orderDetail[0].status == 1}" class="text-info"> Đã xác nhận </span>
            <span th:if="${order.status == 3}" class="text-primary"> Đang giao hàng </span>
            <span th:if="${order.status == 4}" class="text-primary"> Hoàn thành </span>
            <span th:if="${order.status == -1}" class="text-danger"> Đã hủy </span>
            <span th:if="${order.status == -2 || order.status == 1 && order.orderDetail[0].status == -2}" class="text-warning"> Đã từ chối </span>
          </td>
          <td >
            <ul class="list-inline m-0">
              <li class="list-inline-item">
                <a class="btn btn-success btn-sm rounded-0" th:href="@{'/admin/business/order/detail?code='+ ${order.code}}" ><span>Chi tiết</span></a>
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

<!--    Phân trang -->
  <div th:if="${totalPages > 1 && totalPages <= 15}">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item" th:if="${currentPage != 1}">
          <a class="page-link" th:href="@{'/admin/business/order'+${status != 100 ? '?status='+ status +'&&' :'?'} +'page=' + ${currentPage -1}}" >Previous</a>
        </li>
        <li th:each="i: ${#numbers.sequence(1, totalPages)}" th:classappend="${currentPage ==i ? 'active':''}" class="page-item">
          <a th:if="${currentPage != i}" th:href="@{'/admin/business/order'+${status != 100 ? '?status='+ status +'&&' :'?'} +'page=' + ${i}}" class="page-link">[[${i}]]</a>
          <span class="page-link" th:unless="${currentPage != i}">[[${i}]]</span>
        </li>
        <li class="page-item" th:if="${currentPage!=totalPages}">
          <a th:if="${currentPage < totalPages}" th:href="@{'/admin/business/order'+${status != 100 ? '?status='+ status +'&&' :'?'} +'page=' + ${currentPage + 1}}" class="page-link">Next</a>
          <span class="page-link" th:unless="${currentPage < totalPages}">Next</span>
        </li>
        <li class="page-item" th:if="${currentPage!=totalPages}">
          <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/admin/business/order'+${status != 100 ? '?status='+ status +'&&' :'?'} +'page=' + ${totalPages}}">Last</a>
          <span class="page-link" th:unless="${currentPage < totalPages}">Last</span>
        </li>
      </ul>
    </nav>
  </div>
  <div th:if="${totalPages > 15 }">
    <nav th:if="${currentPage <= 8} " aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item" th:if="${currentPage != 1}">
          <a class="page-link" th:href="@{'/admin/business/order'+${status != 100 ? '?status='+ status +'&&' :'?'} +'page=' + ${currentPage -1}}" >Previous</a>
        </li>
        <li th:each="i: ${#numbers.sequence(1, 10)}" th:classappend="${currentPage ==i ? 'active':''}" class="page-item">
          <a th:if="${currentPage != i}" th:href="@{'/admin/business/order'+${status != 100 ? '?status='+ status +'&&' :'?'} +'page=' + ${i}}" class="page-link">[[${i}]]</a>
          <span class="page-link" th:unless="${currentPage != i}">[[${i}]]</span>
        </li>
        <li class="page-item disabled" aria-disabled="true">
          <span class="page-link">...</span>
        </li>
        <li th:classappend="${currentPage == (totalPages - 1) ? 'active':''}" class="page-item" >
          <a class="page-link" th:href="@{'/admin/business/order'+${status != 100 ? '?status='+ status +'&&' :'?'} +'page=' + ${totalPages - 1}}" >[[${totalPages-1}]]</a>
        </li>
        <li th:classappend="${currentPage == totalPages ? 'active':''}" class="page-item" >
          <a class="page-link" th:href="@{'/admin/business/order'+${status != 100 ? '?status='+ status +'&&' :'?'} +'page=2'+ ${totalPages } }" >[[${totalPages}]]</a>
        </li>
        <li class="page-item" th:if="${currentPage!=totalPages}">
          <a th:if="${currentPage < totalPages}" th:href="@{'/admin/business/order'+${status != 100 ? '?status='+ status +'&&' :'?'} +'page=' + ${currentPage + 1}}" class="page-link">Next</a>
          <span class="page-link" th:unless="${currentPage < totalPages}">Next</span>
        </li>
        <li class="page-item" th:if="${currentPage!=totalPages}">
          <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/admin/business/order'+${status != 100 ? '?status='+ status +'&&' :'?'} +'page=' + ${totalPages}}">Last</a>
          <span class="page-link" th:unless="${currentPage < totalPages}">Last</span>
        </li>
      </ul>
    </nav>
    <nav th:unless="${currentPage <= 8}" aria-label="Page navigation example">
      <ul th:if="${ (totalPages - currentPage) <=6 }" class="pagination justify-content-end">
        <li class="page-item" th:if="${currentPage != 1}">
          <a class="page-link" th:href="@{'/admin/business/order'+${status != 100 ? '?status='+ status +'&&' :'?'} +'page=' + ${currentPage -1}}" >Previous</a>
        </li>
        <li th:classappend="${currentPage ==1 ? 'active':''}" class="page-item" >
          <a class="page-link" th:href="@{'/admin/business/order'+${status != 100 ? '?status='+ status +'&&' :'?'} +'page=1'}" >1</a>
        </li>
        <li th:classappend="${currentPage ==2 ? 'active':''}" class="page-item" >
          <a class="page-link" th:href="@{'/admin/business/order'+${status != 100 ? '?status='+ status +'&&' :'?'} +'page=2' }" >2</a>
        </li>
        <li class="page-item disabled" aria-disabled="true">
          <span class="page-link">...</span>
        </li>
        <li th:each="i: ${#numbers.sequence((totalPages -9), totalPages)}" th:classappend="${currentPage ==i ? 'active':''}" class="page-item">
          <a th:if="${currentPage != i}" th:href="@{'/admin/business/order'+${status != 100 ? '?status='+ status +'&&' :'?'} +'page=' + ${i}}" class="page-link">[[${i}]]</a>
          <span class="page-link" th:unless="${currentPage != i}">[[${i}]]</span>
        </li>
        <li class="page-item" th:if="${currentPage!=totalPages}">
          <a th:if="${currentPage < totalPages}" th:href="@{'/admin/business/order'+${status != 100 ? '?status='+ status +'&&' :'?'} +'page=' + ${currentPage + 1}}" class="page-link">Next</a>
          <span class="page-link" th:unless="${currentPage < totalPages}">Next</span>
        </li>
        <li class="page-item" th:if="${currentPage!=totalPages}">
          <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/admin/business/order'+${status != 100 ? '?status='+ status +'&&' :'?'} +'page=' + ${totalPages}}">Last</a>
          <span class="page-link" th:unless="${currentPage < totalPages}">Last</span>
        </li>
      </ul>

      <ul th:unless="${ (totalPages - currentPage) <=6 }" class="pagination justify-content-end">
        <li class="page-item" th:if="${currentPage != 1}">
          <a class="page-link" th:href="@{'/admin/business/order'+${status != 100 ? '?status='+ status +'&&' :'?'} +'page=' + ${currentPage -1}}" >Previous</a>
        </li>
        <li th:classappend="${currentPage ==1 ? 'active':''}" class="page-item" >
          <a class="page-link" th:href="@{'/admin/business/order'+${status != 100 ? '?status='+ status +'&&' :'?'} +'page=1'}" >1</a>
        </li>
        <li th:classappend="${currentPage ==2 ? 'active':''}" class="page-item" >
          <a class="page-link" th:href="@{'/admin/business/order'+${status != 100 ? '?status='+ status +'&&' :'?'} +'page=2' }" >2</a>
        </li>
        <li class="page-item disabled" aria-disabled="true">
          <span class="page-link">...</span>
        </li>
        <li th:each="i: ${#numbers.sequence((currentPage -3), (currentPage+3))}" th:classappend="${currentPage ==i ? 'active':''}" class="page-item">
          <a th:if="${currentPage != i}" th:href="@{'/admin/business/order'+${status != 100 ? '?status='+ status +'&&' :'?'} +'page=' + ${i}}" class="page-link">[[${i}]]</a>
          <span class="page-link" th:unless="${currentPage != i}">[[${i}]]</span>
        </li>
        <li class="page-item disabled" aria-disabled="true">
          <span class="page-link">...</span>
        </li>
        <li th:classappend="${currentPage == (totalPages - 1) ? 'active':''}" class="page-item" >
          <a class="page-link" th:href="@{'/admin/business/order'+${status != 100 ? '?status='+ status +'&&' :'?'} +'page=' + ${totalPages - 1}}" >[[${totalPages-1}]]</a>
        </li>
        <li th:classappend="${currentPage == totalPages ? 'active':''}" class="page-item" >
          <a class="page-link" th:href="@{'/admin/business/order'+${status != 100 ? '?status='+ status +'&&' :'?'} +'page='+ ${totalPages } }" >[[${totalPages}]]</a>
        </li>
        <li class="page-item" th:if="${currentPage!=totalPages}">
          <a th:if="${currentPage < totalPages}" th:href="@{'/admin/business/order'+${status != 100 ? '?status='+ status +'&&' :'?'} +'page=' + ${currentPage + 1}}" class="page-link">Next</a>
          <span class="page-link" th:unless="${currentPage < totalPages}">Next</span>
        </li>
        <li class="page-item" th:if="${currentPage!=totalPages}">
          <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/admin/business/order'+${status != 100 ? '?status='+ status +'&&' :'?'} +'page=' + ${totalPages}}">Last</a>
          <span class="page-link" th:unless="${currentPage < totalPages}">Last</span>
        </li>
      </ul>
    </nav>
  </div>
</div>

</body>
</html>

