<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{admin/layout/template.html}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>New</title>
    <style type="text/css">
        .input-form-create-user{
            width: 100%;padding: 12px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc;box-sizing: border-box;
        }
    </style>
</head>
<body>
<nav layout:fragment="navbar" class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <!--/*@thymesVar id="config" type="com.team1.project.dto.LayoutConfig"*/-->
            <p th:text="${config.title}" class="navbar-brand" ></p>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
<!--            <form>-->
<!--                <div class="input-group no-border">-->
<!--                    <input type="text" value="" class="form-control" placeholder="Tìm kiếm ...">-->
<!--                    <div class="input-group-append">-->
<!--                        <div class="input-group-text">-->
<!--                            <i class="nc-icon nc-zoom-split"></i>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </form>-->
            <ul class="navbar-nav">
                <li class="nav-item btn-rotate dropdown">
                    <a  class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span sec:authentication="name"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" >Tài khoản</a>
                        <a class="dropdown-item" th:href="@{'/admin/logout'}" >Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div layout:fragment="content" class="content">
    <div class="row justify-content-center">
        <div class="col-6">
            <form method="" action="" object="">
                <div class="form-group row">
                    <label for="inputTitle" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-10">

                        <input type="text" class="form-control" id="inputTitle" th:value="${news.title}" placeholder="Title" >
                        <label  class="text-danger"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputDescription" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputDescription" th:value="${news.description}" placeholder="Description" >
                        <label  class="text-danger"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputContent" class="col-sm-2 col-form-label">Content</label>
                    <div class="col-sm-10">
                        <textarea type="text" class="form-control" id="inputContent" th:value="${news.content}" placeholder="Content" ></textarea>
                        <label  class="text-danger"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="input-url-image-create" class="col-sm-2 col-form-label">Image</label>
                    <div class="col-sm-10">
                        <input type="file" id="input-url-image-create" th:data-default-file ="'./img/news/'+*{news.imageurl}" name="UrlImage" class="dropify" accept="image/*" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-2 col-form-label">Type</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="type-val-edit">
                                <option value="2">Banner</option>
                                <option value="1">Tin tức</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button id="create-news" type="submit" class="btn btn-primary">Create</button>
                        <a th:href="@{/admin/news/}" type="button" class="btn btn-primary">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

</body>
</html>
