<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/template.html}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>New</title>
    <style type="text/css">
        .input-form-create-user{
            width: 100%;padding: 12px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc;box-sizing: border-box;
        }
    </style>
</head>
<body>
<div layout:fragment="content" class="content">
    <div class="row justify-content-center">
        <div class="col-6">
            <form method="" action="" object="">
                <div class="form-group row">
                    <label for="inputTitle" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-10">
                        <input type="hidden"  id="id-val" th:value="*{news.id}">
                        <input type="text" class="form-control" id="inputTitle" th:value="${news.title}" placeholder="Title" >
                        <label  class="text-danger"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputDescription" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputDescription" th:value="${news.description}" placeholder="Description" >
                        <label  class="text-danger"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputContent" class="col-sm-2 col-form-label">Content</label>
                    <div class="col-sm-10">
                        <textarea type="text" class="form-control" id="inputContent" th:value="${news.content}" placeholder="Content" ></textarea>
                        <label  class="text-danger"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="input-url-image-edit" class="col-sm-2 col-form-label">Image</label>
                    <div class="col-sm-10">
                        <input type="file" id="input-url-image-edit" th:data-default-file ="'/img/news/'+*{news.imageurl}" name="UrlImage" class="dropify" accept="image/*" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-2 col-form-label">Type</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="type-val-edit">
                                <option value="2">Banner</option>
                                <option value="1">Tin tức</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button id="update-news" type="submit" class="btn btn-primary">Edit</button>
                        <a th:href="@{/admin/news/}" type="button" class="btn btn-primary">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

</body>
</html>
