<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/templateuser.html}">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
  <nav layout:fragment="navbar" class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" style="background-color: #fff !important;" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" th:href="@{'/index'}" style="color: #82ae46 !important;">Nông nghiệp sạch</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li th:class="${config.ActiveHome} ? 'nav-item active' : 'nav-item'">
            <a th:href="@{'/index'}" class="nav-link">Trang chủ</a>
          </li>
          <li sec:authorize="!isAuthenticated()" th:class="${config.ActiveShop} ? 'nav-item active' : 'nav-item'">
            <a th:href="@{'/shop'}" class="nav-link">Shop</a>
          </li>
          <li sec:authorize="isAuthenticated()" class="nav-item dropdown"  >
            <a th:style="${config.ActiveShop} ? 'color: #82ae46  !important;'"   class="nav-link dropdown-toggle" th:href="@{'/shop'}" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
              <a class="dropdown-item" th:href="@{'/shop'}">Shop</a>
              <a class="dropdown-item" th:href="@{'/customer/wishlist'}">Danh mục ưa thích</a>
            </div>
          </li>
          <li th:class="${config.ActiveNews} ? 'nav-item active' : 'nav-item'" ><a th:href="@{'/news'}" class="nav-link">Tin tức</a></li>
          <li th:class="${config.ActiveAbout} ? 'nav-item active' : 'nav-item'" ><a th:href="@{'/about'}" class="nav-link">Giới thiệu</a></li>
          <li th:class="${config.ActiveContact} ? 'nav-item active' : 'nav-item'" ><a th:href="@{'/contact'}" class="nav-link">Liên hệ</a></li>
          <li sec:authorize="!isAuthenticated()" class="nav-item"><a th:href="@{'/login'}" class="nav-link">Đăng nhập</a></li>

          <li sec:authorize="isAuthenticated()" th:class="${config.ActiveCart} ? 'nav-item  active' : 'nav-item '">
            <a th:href="@{'/customer/cart'}" class="nav-link">
              <span class="icon-shopping_cart"></span>[<span id="countCart" th:text="${config.countCart}" ></span>]
            </a>
          </li>
          <li sec:authorize="isAuthenticated()" th:class="${config.ActiveAccount} ? 'nav-item btn-rotate dropdown active' : 'nav-item btn-rotate dropdown'" >
            <a  class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="nc-icon nc-single-02">
              </i>
              <span sec:authentication="name">Khách hàng</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" th:href="@{'/customer/detail'}" >Tài khoản của tôi</a>
              <a class="dropdown-item" th:href="@{'/customer/order'}" >Đơn mua</a>
              <a class="dropdown-item" th:href="@{'/logout'}" >Logout</a>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </nav>


</body>

</html>