<!Doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <title>Nông nghiệp sạch</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" th:href="@{'/img/logo.jpg'}">

  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">

  <link th:href="@{/public/css/open-iconic-bootstrap.min.css}" rel="stylesheet" />
  <link rel="stylesheet" th:href="@{/public/css/animate.css}" >

  <link rel="stylesheet" th:href="@{/public/css/owl.carousel.min.css}">
  <link rel="stylesheet" th:href="@{/public/css/owl.theme.default.min.css}">
  <link rel="stylesheet" th:href="@{/public/css/magnific-popup.css}">

  <link rel="stylesheet" th:href="@{/public/css/aos.css}">

  <link rel="stylesheet" th:href="@{/public/css/ionicons.min.css}">

  <link rel="stylesheet" th:href="@{/public/css/bootstrap-datepicker.css}">
  <link rel="stylesheet" th:href="@{/public/css/jquery.timepicker.css}">


  <link rel="stylesheet" th:href="@{/public/css/flaticon.css}">
  <link rel="stylesheet" th:href="@{/public/css/icomoon.css}">
  <link rel="stylesheet" th:href="@{/public/css/style.css}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.16.6/sweetalert2.min.css" integrity="sha512-/D4S05MnQx/q7V0+15CCVZIeJcV+Z+ejL1ZgkAcXE1KZxTE4cYDvu+Fz+cQO9GopKrDzMNNgGK+dbuqza54jgw==" crossorigin="anonymous" />

</head>

<body class="goto-here">

<div layout:replace="public/layout/head :: head"></div>
<!-- navbar -->
<div layout:replace="public/layout/navbar :: navbar"></div>
<!-- Slide bar-->
<div layout:fragment="slider"></div>

<div layout:fragment="content">
  <h1> Hello world !</h1>
</div>

<div layout:replace="public/layout/footer :: footer"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.16.6/sweetalert2.all.min.js" integrity="sha512-jQxNe7fqaqehR3t/JfoxC8y2dwkEIL/7a6JWbs6sQdSCI/6Kd0t2okI9nhuKeSUgM5JDTDgdUzLzSPovB2lOBQ==" crossorigin="anonymous"></script>

<!--   Core JS Files   --><!--js-->

<script th:src="@{/public/js/jquery.min.js}"></script>
<script th:src="@{/public/js/jquery-migrate-3.0.1.min.js}"></script>
<script th:src="@{/public/js/popper.min.js}"></script>
<script th:src="@{/public/js/bootstrap.min.js}"></script>
<script th:src="@{/public/js/jquery.easing.1.3.js}"></script>
<script th:src="@{/public/js/jquery.waypoints.min.js}"></script>
<script th:src="@{/public/js/jquery.stellar.min.js}"></script>
<script th:src="@{/public/js/owl.carousel.min.js}"></script>
<script th:src="@{/public/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/public/js/aos.js}"></script>
<script th:src="@{/public/js/jquery.animateNumber.min.js}"></script>
<script th:src="@{/public/js/bootstrap-datepicker.js}"></script>
<script th:src="@{/public/js/scrollax.min.js}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script th:src="@{/public/js/google-map.js}"></script>
<script th:src="@{/public/js/main.js}"></script>
<script th:src="@{/public/js/product_detail.js}"></script>

<!--Js contact-->s
<script th:src="@{/public/js/sweetalert.js}"></script>
<script th:src="@{/public/js/contactAjax.js}"></script>
<script th:src="@{/public/js/wishlistAjax.js}"></script>
<script th:src="@{/public/js/cartAjax.js}"></script>
<script th:src="@{/public/js/checkoutAjax.js}"></script>
<script th:src="@{/public/js/customer.js}"></script>


</body>

</html>
