<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/template.html}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>New</title>
    <style type="text/css">
        .input-form-create-user{
            width: 100%;padding: 12px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc;box-sizing: border-box;
        }
    </style>
</head>
<body>
<nav layout:fragment="navbar" class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-toggle">
                <button type="button" class="navbar-toggler">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <!--/*@thymesVar id="config" type="com.team1.project.dto.LayoutConfig"*/-->
            <p th:text="${config.title}" class="navbar-brand" >Dashboard</p>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab">Danh muc</span>
            <span class="navbar-toggler-bar navbar-kebab">San pham</span>
            <span class="navbar-toggler-bar navbar-kebab">Nguoi dung</span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
                <li class="nav-item btn-rotate dropdown">
                    <a  class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="nc-icon nc-single-02">
                        </i>
                        <span sec:authentication="name">Admin </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" >Tài khoản</a>
                        <a class="dropdown-item" th:href="@{'/admin/logout'}">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div layout:fragment="content" class="content">
    <div class="row justify-content-center">
        <div class="col-6">
            <form method="post" th:action="@{/admin/shipping/create}" th:object="${shipper}">
                <div class="form-group row">
                    <label for="inputTitle" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputTitle" placeholder="Name" th:field="*{name}">
                        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputDescription" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputDescription" placeholder="Description" th:field="*{description}">
                        <label th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputContent" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <textarea type="text" class="form-control" id="inputContent" placeholder="Email" th:field="*{email}"></textarea>
                        <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputContent" class="col-sm-2 col-form-label">Logo</label>
                    <div class="col-sm-10">
                        <textarea type="text" class="form-control" id="inputContent" placeholder="Logo" th:field="*{logo}"></textarea>
                        <label th:if="${#fields.hasErrors('logo')}" th:errors="*{logo}" class="text-danger"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputContent" class="col-sm-2 col-form-label">Phone</label>
                    <div class="col-sm-10">
                        <textarea type="text" class="form-control" id="inputContent" placeholder="Phone" th:field="*{phone}"></textarea>
                        <label th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="text-danger"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Create</button>
                        <a th:href="@{/admin/listshipping/}" type="button" class="btn btn-primary">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

</body>
</html>
