<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{admin/layout/template.html}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Product</title>
    <style type="text/css">
        .input-form-create-user{
            width: 100%;padding: 12px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc;box-sizing: border-box;
        }
    </style>
</head>
<body>
<nav layout:fragment="navbar" class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-toggle">
                <button type="button" class="navbar-toggler">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <!--/*@thymesVar id="config" type="com.team1.project.dto.LayoutConfig"*/-->
            <p th:text="${config.title}" class="navbar-brand" >Dashboard</p>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab">Danh muc</span>
            <span class="navbar-toggler-bar navbar-kebab">San pham</span>
            <span class="navbar-toggler-bar navbar-kebab">Nguoi dung</span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
                <li class="nav-item btn-rotate dropdown">
                    <a  class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="nc-icon nc-single-02">
                        </i>
                        <span sec:authentication="name">Admin </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" >Tài khoản</a>
                        <a class="dropdown-item" th:href="@{'/admin/logout'}">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div layout:fragment="content" class="content">
    <div class="row justify-content-center">
        <div class="col-6">
            <form method="post" th:action="@{/admin/product/create}" th:object="${product}" enctype="multipart/form-data">
                <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label">Tên sản phẩm</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputName" placeholder="Tên sản phẩm" th:field="*{name}">
                        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputDescription" class="col-sm-2 col-form-label">Mô tả</label>
                    <div class="col-sm-10">
                        <textarea type="text" class="form-control" id="inputDescription" th:field="*{description}" placeholder="Mô tả"
                                  style="height: 200px; max-height: 200px;"></textarea>
                        <label th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputDetail" class="col-sm-2 col-form-label">Chi tiết sản phẩm</label>
                    <div class="col-sm-10">
                        <textarea type="text" class="form-control" id="inputDetail" th:field="*{detail}"
                                  style="height: 400px; max-height: 400px;" placeholder="Chi tiết sản phẩm" ></textarea>
                        <label th:if="${#fields.hasErrors('detail')}" th:errors="*{detail}" class="text-danger"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputQuantity" class="col-sm-2 col-form-label">Số lượng</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputQuantity" placeholder="Số lượng" th:field="*{quantity}">
                        <label th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" class="text-danger"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputUnit" class="col-sm-2 col-form-label">Đơn vị</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputUnit" placeholder="Đơn vị" th:field="*{unit}">
                        <label th:if="${#fields.hasErrors('unit')}" th:errors="*{unit}" class="text-danger"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPrice" class="col-sm-2 col-form-label">Giá</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPrice" placeholder="Giá" th:field="*{price}">
                        <label th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputDiscount" class="col-sm-2 col-form-label">Giảm giá</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputDiscount" placeholder="Giảm giá" th:field="*{discount}">
                        <label th:if="${#fields.hasErrors('discount')}" th:errors="*{discount}" class="text-danger"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputProductImage1" class="col-sm-2 col-form-label">Ảnh sản phẩm</label>
                    <div class="col-sm-10">
                        <input type="file" class="custom-file-input" name="inputProductImage1" accept="image/png, image/jpeg" id="inputProductImage1">
                        <label class="custom-file-label" for="inputProductImage1">Chọn file</label>
                        <img style="display: none;" id="productThumbnail1" alt="Product Preview" class="image-thumbnail"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputProductImage2" class="col-sm-2 col-form-label">Ảnh sản phẩm</label>
                    <div class="col-sm-10">
                        <input type="file" class="custom-file-input" name="inputProductImage2" accept="image/png, image/jpeg" id="inputProductImage2">
                        <label class="custom-file-label" for="inputProductImage2">Chọn file</label>
                        <img style="display: none;" id="productThumbnail2" alt="Product Preview" class="image-thumbnail"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputProductImage3" class="col-sm-2 col-form-label">Ảnh sản phẩm</label>
                    <div class="col-sm-10">
                        <input type="file" class="custom-file-input" name="inputProductImage3" accept="image/png, image/jpeg" id="inputProductImage3">
                        <label class="custom-file-label" for="inputProductImage3">Chọn file</label>
                        <img style="display: none;" id="productThumbnail3" alt="Product Preview" class="image-thumbnail"/>
                    </div>
                </div><div class="form-group row">
                    <label for="inputProductImage4" class="col-sm-2 col-form-label">Ảnh sản phẩm</label>
                    <div class="col-sm-10">
                        <input type="file" class="custom-file-input" name="inputProductImage4" accept="image/png, image/jpeg" id="inputProductImage4">
                        <label class="custom-file-label" for="inputProductImage4">Chọn file</label>
                        <img style="display: none;" id="productThumbnail4" alt="Product Preview" class="image-thumbnail"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputProductDetailImage" class="col-sm-2 col-form-label">Ảnh sản phẩm chi tiết</label>
                    <div class="col-sm-10">
                        <input type="file" class="custom-file-input" name="inputProductDetailImage" accept="image/png, image/jpeg" id="inputProductDetailImage">
                        <label class="custom-file-label" for="inputProductDetailImage">Chọn file</label>
                        <img style="display: none;" id="productDetailThumbnail" alt="Product Detail Preview" class="image-thumbnail"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputCategory">Danh mục</label>
                    <select id="inputCategory" class="form-control" th:field="*{cateid}">
                        <option th:each="category : ${listCategory}" th:value="${category.id}" th:text="${category.name}"></option>
                    </select>
                </div>
                <div class="form-group row" th:if="${role == 2}">
                    <label for="inputSeller">Nhà Cung Cấp</label>
                    <select id="inputSeller" class="form-control" th:field="*{sellerby}">
                        <option th:each="seller : ${listSeller}" th:value="${seller.id}" th:text="${seller.fullname}"></option>
                    </select>
                </div>

                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Tạo mới sản phẩm</button>
                        <a th:href="@{/admin/product/}" type="button" class="btn btn-primary">Quay lại</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

</body>
</html>
